In [1]:
include("type_allocation_flexible.jl")

using Random

First we configure the settings:

In [2]:
Random.seed!(0)            # for reproducibility: ensures random results are the same on script restart
YEAR_INTERVAL = 2019:2021  # change this to select the years of data to include in the estimation
NUMBER_OF_TYPES = 4        # change this to select the number of types to classify academic departments into

4

We also need to collect the placements data. You can either use a JSON file in your current directory:

In [3]:
to_from_by_year = SBM_flexible.fetch_data("to_from_by_year.json")

Dict{String, Any} with 19 entries:
  "2003" => Dict{String, Any}("17827"=>Dict{String, Any}("to_shortname"=>"Econo…
  "2005" => Dict{String, Any}("41691"=>Dict{String, Any}("to_shortname"=>"Compt…
  "2014" => Dict{String, Any}("20524"=>Dict{String, Any}("to_shortname"=>"Schoo…
  "2018" => Dict{String, Any}("37159"=>Dict{String, Any}("to_shortname"=>"Dalla…
  "2020" => Dict{String, Any}("45907"=>Dict{String, Any}("to_shortname"=>"Econo…
  "2010" => Dict{String, Any}("5422"=>Dict{String, Any}("to_shortname"=>"Manage…
  "2016" => Dict{String, Any}("29795"=>Dict{String, Any}("to_shortname"=>"Corne…
  "2019" => Dict{String, Any}("42218"=>Dict{String, Any}("to_shortname"=>"Econo…
  "2004" => Dict{String, Any}("24943"=>Dict{String, Any}("to_shortname"=>"Econo…
  "2007" => Dict{String, Any}("20070"=>Dict{String, Any}("to_shortname"=>"Econo…
  "2017" => Dict{String, Any}("27626"=>Dict{String, Any}("to_shortname"=>"Econo…
  "2021" => Dict{String, Any}("45950"=>Dict{String, Any}("to_shortname"=>"Busin…
  "2006" => Dict{String, Any}("2139"=>Dict{String, Any}("to_shortname"=>"Econom…
  "2011" => Dict{String, Any}("8496"=>Dict{String, Any}("to_shortname"=>"Econom…
  "2015" => Dict{String, Any}("24377"=>Dict{String, Any}("to_shortname"=>"Econo…
  "2012" => Dict{String, Any}("36063"=>Dict{String, Any}("to_shortname"=>"Econo…
  "2013" => Dict{String, Any}("16501"=>Dict{String, Any}("to_shortname"=>"Finan…
  "2008" => Dict{String, Any}("3720"=>Dict{String, Any}("to_shortname"=>"Econom…
  "2009" => Dict{String, Any}("1886"=>Dict{String, Any}("to_shortname"=>"Econom…

Or you can call the API:

In [4]:
to_from_by_year_api = SBM_flexible.fetch_data("https://support.econjobmarket.org/api/placement_data")

DataStructures.DefaultDict{Any, Any, UnionAll} with 23 entries:
  "2003" => Dict{Any, Any}("17827"=>Dict{String, Any}("to_shortname"=>"Economic…
  "2005" => Dict{Any, Any}("11382"=>Dict{String, Any}("to_shortname"=>"Economic…
  "2014" => Dict{Any, Any}("56926"=>Dict{String, Any}("to_shortname"=>"Business…
  "2018" => Dict{Any, Any}("37159"=>Dict{String, Any}("to_shortname"=>"Dallas o…
  "2020" => Dict{Any, Any}("45907"=>Dict{String, Any}("to_shortname"=>"Economic…
  "2010" => Dict{Any, Any}("5422"=>Dict{String, Any}("to_shortname"=>"Managemen…
  "2016" => Dict{Any, Any}("1886"=>Dict{String, Any}("to_shortname"=>"Cons Fina…
  "2019" => Dict{Any, Any}("43054"=>Dict{String, Any}("to_shortname"=>"Computer…
  "2004" => Dict{Any, Any}("24943"=>Dict{String, Any}("to_shortname"=>"Economic…
  "2007" => Dict{Any, Any}("24350"=>Dict{String, Any}("to_shortname"=>"Economic…
  "2023" => Dict{Any, Any}("57428"=>Dict{String, Any}("to_shortname"=>"Health P…
  "2017" => Dict{Any, Any}("27626"=>Dict{String, Any}("to_shortname"=>"Economic…
  "2022" => Dict{Any, Any}("53030"=>Dict{String, Any}("to_shortname"=>"Economic…
  "2021" => Dict{Any, Any}("51250"=>Dict{String, Any}("to_shortname"=>"Fondazio…
  "2006" => Dict{Any, Any}("41645"=>Dict{String, Any}("to_shortname"=>"Fed Rese…
  "2011" => Dict{Any, Any}("9123"=>Dict{String, Any}("to_shortname"=>"Econ, Sto…
  "2025" => Dict{Any, Any}("56703"=>Dict{String, Any}("to_shortname"=>"Strategy…
  "2015" => Dict{Any, Any}("24377"=>Dict{String, Any}("to_shortname"=>"Economic…
  "2012" => Dict{Any, Any}("21569"=>Dict{String, Any}("to_shortname"=>"Economic…
  "2013" => Dict{Any, Any}("16501"=>Dict{String, Any}("to_shortname"=>"Finance,…
  "2024" => Dict{Any, Any}("57394"=>Dict{String, Any}("to_shortname"=>"Manageme…
  "2008" => Dict{Any, Any}("3720"=>Dict{String, Any}("to_shortname"=>"Economics…
  "2009" => Dict{Any, Any}("1886"=>Dict{String, Any}("to_shortname"=>"Economics…

Auto-recognition of API endpoints is provided assuming that the API URL is either `http` or `https` (and that the endpoint returns a raw list of placements with a `year` field). Otherwise, the endpoint is assumed to be a `json` file at the specified path.

Using the raw placements, we can sort them into academic and sink placements, as well as collect some labels:

In [5]:
academic, academic_to, academic_builder, rough_sink_builder, institution_mapping = SBM_flexible.get_builders(to_from_by_year_api, YEAR_INTERVAL);

We are mostly flexible in how we choose to design the set of sinks to include. One exception is teaching universities, which must always be included:

In [6]:
# sink of teaching universities that do not graduate PhDs
# this must be constructed using academic placements, not pre-defined sink placements

teaching_universities = Set() 
for dept_name in academic_to
    if !(dept_name in academic)
        # the department hired an assistant professor but never graduated anyone
        push!(teaching_universities, dept_name)
    end
end

The rest are built by standardized `if` statements:

In [7]:
public_sector = ("Public Sector", Set())
private_sector = ("Private Sector", Set())
other_groups = ("Other Groups", Set())

postdocs = ("Postdocs", Set())
lecturers = ("Lecturers", Set())
other_academic = ("Other Academic", Set())

for outcome in rough_sink_builder
    if outcome["recruiter_type"] == 5 # government institution
        push!(public_sector[2], (string(outcome["to_name"], " ($(public_sector[1]))"), outcome))
    elseif outcome["recruiter_type"] in [6, 7] # private sector: for and not for profit
        push!(private_sector[2], (string(outcome["to_name"], " ($(private_sector[1]))"), outcome))
    elseif outcome["recruiter_type"] == 8 # international organizations, think tanks, assorted
        push!(other_groups[2], (string(outcome["to_name"], " ($(other_groups[1]))"), outcome))

    # some other examples
    # every example here must also have a corresponding sink Set() above, 
    #     and an entry in sinks_to_include below
   
    elseif outcome["postype"] == 6
        # postdocs that are not in the above (i.e. academic; not public, private, or other)
        # please note that the included JSON does not contain postdocs; use the API
        push!(postdocs[2], (string(outcome["to_name"], " ($(postdocs[1]))"), outcome))
    elseif outcome["postype"] in [5, 7]
        # lecturers that are not in the above
        # please note that the included JSON does not contain lecturers; use the API
        push!(lecturers[2], (string(outcome["to_name"], " ($(lecturers[1]))"), outcome))
    else
        # everything else including terminal academic positions
        # this sink can only be constructed as an "else" statement
        push!(other_academic[2], (string(outcome["to_name"], " ($(other_academic[1]))"), outcome))
    
    end
end

# sort to ensure consistent ordering
academic_list = sort(collect(academic))
teaching_list = sort(collect(teaching_universities))
sinks_to_include = (other_groups, public_sector, private_sector, postdocs, lecturers, other_academic)
sink_builder = []

sinks = []
sink_labels = []
println("Including the following sinks:")
for (sink_name, sink_placements) in sinks_to_include
    println(" ", sink_name)
    # generate list of department names
    dept_names = Set()
    for (outcome_to_name, outcome) in sink_placements
        push!(dept_names, outcome_to_name)
        push!(sink_builder, (outcome_to_name, outcome))
    end
    push!(sinks, sort(collect(dept_names)))
    push!(sink_labels, sink_name)
end

push!(sinks, teaching_list) # teaching_list must always be included
push!(sink_labels, "Teaching Universities")
NUMBER_OF_SINKS = length(sink_labels)
numtotal = NUMBER_OF_TYPES + NUMBER_OF_SINKS
println(" Teaching Universities")
println("Total $(NUMBER_OF_SINKS) sinks")

institutions = vcat(academic_list, sinks...)
println("$(length(academic_list)) academic departments, $(length(institutions)) total departments")

Including the following sinks:
 Other Groups
 Public Sector
 Private Sector
 Postdocs
 Lecturers
 Other Academic
 Teaching Universities
Total 7 sinks
681 academic departments, 2293 total departments

Next, the adjacency matrix:

In [8]:
length(academic_builder) + length(sink_builder)

5588

In [9]:
out = SBM_flexible.get_adjacency(academic_list, institutions, academic_builder, sink_builder);

Total 5588 Placements (found 5588 by sequence counting, 5588 by matrix sum)

In [10]:
sum(out)

5588

We are now ready to run the SBM itself:

In [11]:
@time est_obj, est_alloc = SBM_flexible.doit(out, length(academic_list), [length(s) for s in sinks], NUMBER_OF_TYPES, numtotal, 500 * (NUMBER_OF_TYPES-2) + 1000)

132.766982 seconds (389.54 k allocations: 20.298 MiB, 0.19% compilation time)

(25307.5182131608, Int32[2, 1, 1, 1, 4, 1, 2, 4, 1, 4  …  11, 11, 11, 11, 11, 11, 11, 11, 11, 11])

In [12]:
placement_rates, counts, sorted_allocation, full_likelihood = SBM_flexible.get_allocation(est_alloc, out, NUMBER_OF_TYPES, numtotal, institutions)

(Int32[314 71 12 0; 525 366 26 20; … ; 123 206 87 95; 252 316 87 71], Int32[1849 7740 10406 9288; 7740 32400 43560 38880; … ; 13244 55440 74536 66528; 17458 73080 98252 87696], Int32[3, 2, 2, 2, 4, 2, 3, 4, 2, 4  …  11, 11, 11, 11, 11, 11, 11, 11, 11, 11], -31377.249971524267)

In [13]:
placement_rates

11×4 Matrix{Int32}:
 314   71   12   0
 525  366   26  20
  61   82   51   0
  10   28    0  37
  97   71   29   0
 256  196   25  36
 340  182   37   6
 435  453  243  22
  65  139   19  97
 123  206   87  95
 252  316   87  71

In [14]:
placement_rates ./ counts

11×4 Matrix{Float64}:
 0.169822    0.00917313   0.00115318   0.0
 0.0678295   0.0112963    0.000596878  0.000514403
 0.005862    0.00188246   0.000870842  0.0
 0.00107666  0.000720165  0.0          0.000793038
 0.0777867   0.0136015    0.00413223   0.0
 0.0504533   0.00922787   0.000875473  0.00141243
 0.053789    0.00687831   0.00104009   0.000188964
 0.0257412   0.00640373   0.00255504   0.000259165
 0.00716411  0.00365982   0.000372097  0.00212831
 0.00928722  0.00371573   0.00116722   0.00142797
 0.0144346   0.00432403   0.000885478  0.000809615

In [15]:
full_likelihood

-31377.249971524267

In [16]:
SBM_flexible.nice_table(placement_rates, NUMBER_OF_TYPES, NUMBER_OF_SINKS, sink_labels)

┌───────────────────────┬────────┬────────┬────────┬────────┬────────────┐
│                       │ Tier 1 │ Tier 2 │ Tier 3 │ Tier 4 │ Row Totals │
├───────────────────────┼────────┼────────┼────────┼────────┼────────────┤
│                Tier 1 │    314 │     71 │     12 │      0 │        397 │
│                Tier 2 │    525 │    366 │     26 │     20 │        937 │
│                Tier 3 │     61 │     82 │     51 │      0 │        194 │
│                Tier 4 │     10 │     28 │      0 │     37 │         75 │
│          Other Groups │     97 │     71 │     29 │      0 │        197 │
│         Public Sector │    256 │    196 │     25 │     36 │        513 │
│        Private Sector │    340 │    182 │     37 │      6 │        565 │
│              Postdocs │    435 │    453 │    243 │     22 │       1153 │
│             Lecturers │     65 │    139 │     19 │     97 │        320 │
│        Other Academic │    123 │    206 │     87 │     95 │        511 │
│ Teaching Universities │    252 │    316 │     87 │     71 │        726 │
│         Column Totals │   2478 │   2110 │    616 │    384 │       5588 │
└───────────────────────┴────────┴────────┴────────┴────────┴────────────┘
\begin{tabular}{rrrrrr}
  \hline
   & \textbf{Tier 1} & \textbf{Tier 2} & \textbf{Tier 3} & \textbf{Tier 4} & \textbf{Row Totals} \\\hline
  Tier 1 & 314 & 71 & 12 & 0 & 397 \\
  Tier 2 & 525 & 366 & 26 & 20 & 937 \\
  Tier 3 & 61 & 82 & 51 & 0 & 194 \\
  Tier 4 & 10 & 28 & 0 & 37 & 75 \\
  Other Groups & 97 & 71 & 29 & 0 & 197 \\
  Public Sector & 256 & 196 & 25 & 36 & 513 \\
  Private Sector & 340 & 182 & 37 & 6 & 565 \\
  Postdocs & 435 & 453 & 243 & 22 & 1153 \\
  Lecturers & 65 & 139 & 19 & 97 & 320 \\
  Other Academic & 123 & 206 & 87 & 95 & 511 \\
  Teaching Universities & 252 & 316 & 87 & 71 & 726 \\
  Column Totals & 2478 & 2110 & 616 & 384 & 5588 \\\hline
\end{tabular}

In [17]:
for sorted_type in 1:NUMBER_OF_TYPES
    counter = 0
    inst_hold = []
    println("TYPE $sorted_type:")
    for (i, sbm_type) in enumerate(sorted_allocation)
        if sbm_type == sorted_type
            push!(inst_hold, institutions[i])
            counter += 1
        end
    end
    for inst in sort(inst_hold)
        println("  ", inst)
    end
    println("Total Institutions: $counter")
    println()
end

TYPE 1:
  Bocconi University
  Boston University
  Brown University
  Columbia University
  Cornell University
  Duke University
  Harvard University
  London School of Economics and Political Science
  Massachusetts Institute of Technology
  Michigan State University
  New York University
  Northwestern University
  Ohio State University
  Pennsylvania State University
  Princeton University
  Purdue University
  Stanford University
  Stockholm University
  Texas A&M University, College Station
  Tilburg University
  University College London
  University of British Columbia
  University of California Los Angeles (UCLA)
  University of California, Berkeley
  University of California, Davis
  University of California, San Diego
  University of Chicago
  University of Illinois at Urbana-Champaign
  University of Maryland
  University of Michigan
  University of Minnesota, Twin Cities
  University of Oxford
  University of Pennsylvania
  University of Rochester
  University of Southern California
  University of Texas at Austin
  University of Toronto
  University of Virginia
  University of Warwick
  University of Wisconsin, Madison
  Université Toulouse Capitole
  Yale University
  École d'Économie de Paris
Total Institutions: 43

TYPE 2:
  Aalto University
  Aarhus University
  Aix-Marseille Université
  American University
  Arizona State University
  Auburn University
  Australian National University
  BI Norwegian Business School
  Binghamton University (SUNY)
  Boston College
  CEMFI
  Carnegie Mellon University
  Center for Research in Economics and Statistics (CREST)
  Central European University
  Central University of Finance and Economics
  Chinese University of Hong Kong
  City University of Hong Kong
  City University of London
  City University of New York Graduate Center
  Claremont Graduate University
  Clemson University
  Copenhagen Business School
  Dongbei University of Finance and Economics
  Eastern Mediterranean University
  Emory University
  Erasmus University Rotterdam
  European University Institute
  Florida International University
  Florida State University
  Freie Universität Berlin
  Fudan University
  Fundação Getulio Vargas (FGV)
  George Mason University
  George Washington University
  Georgetown University
  Georgia Institute of Technology
  Georgia State University
  Goethe-Universität Frankfurt am Main
  Graduate Institute of International and Development Studies
  HEC Paris
  Hebrew University of Jerusalem
  Hong Kong University of Science and Technology
  Humboldt University Berlin
  INSEAD
  Imperial College London
  Indiana University Bloomington
  Instituto Tecnologico Autónomo de Mexico (ITAM)
  Iowa State University
  Jinan University
  Johns Hopkins University
  Katholieke Universiteit Leuven
  Koç University
  Lancaster University
  Lehigh University
  London Business School
  Louisiana State University
  Ludwig-Maximilians-Universitat München (LMU) (University of Munich)
  Lund University
  Maastricht University
  McGill University
  McMaster University
  Monash University
  National Taiwan University
  National University of Singapore
  North Carolina State University
  Northeastern University
  Norwegian School of Economics (NHH)
  Oklahoma State University
  Peking University
  Queen Mary University of London
  Queen's University
  Rice University
  Rutgers, The State University of New Jersey
  Sciences Po
  Seoul National University
  Shanghai University of Finance and Economics
  Simon Fraser University
  Singapore Management University
  Southwestern University of Finance and Economics
  Stockholm School of Economics
  Syracuse University
  Temple University
  Texas Tech University
  Toronto Metropolitan University
  Tsinghua University
  Tulane University
  Universidad Carlos III de Madrid
  Universidad Complutense de Madrid
  Universidad de Navarra
  Universidad de los Andes
  Universidade Nova de Lisboa
  Universitat Autònoma de Barcelona
  Universitat Pompeu Fabra
  Universitat de Barcelona
  University of Alabama
  University of Alberta
  University of Amsterdam
  University of Arizona
  University of Arkansas
  University of Birmingham
  University of Bonn
  University of Bristol
  University of Calgary
  University of California, Irvine
  University of California, Riverside
  University of California, Santa Barbara
  University of California, Santa Cruz
  University of Cambridge
  University of Cologne
  University of Colorado, Boulder
  University of Connecticut
  University of Copenhagen
  University of Delaware
  University of Edinburgh
  University of Essex
  University of Florida
  University of Georgia
  University of Glasgow
  University of Gothenburg
  University of Groningen
  University of Hong Kong
  University of Houston
  University of Illinois at Chicago
  University of International Business and Economics
  University of Iowa
  University of Kansas
  University of Kentucky
  University of Lausanne
  University of Leicester
  University of Manchester
  University of Mannheim
  University of Massachusetts, Amherst
  University of Melbourne
  University of Miami
  University of Missouri, Columbia
  University of Nebraska, Lincoln
  University of New Mexico
  University of New South Wales (UNSW), Sydney
  University of North Carolina, Chapel Hill
  University of Notre Dame
  University of Nottingham
  University of Oklahoma
  University of Oregon
  University of Ottawa
  University of Pittsburgh
  University of Reading
  University of South Carolina
  University of Southampton
  University of Surrey
  University of Sydney
  University of Tennessee, Knoxville
  University of Texas at Dallas
  University of Tokyo
  University of Utah
  University of Vienna
  University of Washington
  University of York
  University of Zurich
  Università Degli Studi di Milano
  Università della Svizzera Italiana
  Università di Bologna
  Università di Roma Tor Vergata
  Université Catholique de Louvain
  Université Laval
  Université Paris-Dauphine
  Universíté de Montréal
  Uppsala University
  Utrecht University
  Vanderbilt University
  Vienna University of Economics and Business
  Virginia Tech
  Vrije Universiteit Amsterdam
  Wageningen University
  Washington State University
  Washington University in St. Louis
  West Virginia University
  Western University
  Wuhan University
  Xiamen University
  Zhejiang University
Total Institutions: 180

TYPE 3:
  Aalborg University
  Anadolu University
  Baruch College, City University of New York
  Brandeis University
  Brunel University London
  CERGE-EI (Center for Economic Research and Graduate Education – Economics Institute)
  CY Cergy Paris Université
  Ca' Foscari University Venice
  California Institute of Technology (Caltech)
  Carleton University
  Chung-Ang University
  Collegio Carlo Alberto
  Colorado School of Mines
  Curtin University
  Dalhousie University
  Deakin University
  Delft University of Technology
  Dublin City University
  Durham University
  ENSAE Paris Tech
  ESCP Business School
  ESSEC Business School
  ETH Zurich
  East Carolina University
  Ecole Polytechnique (IP Paris)
  Ecole des Hautes Etudes en Sciences Sociales (EHESS)
  Eindhoven University of Technology
  Ferdowsi University of Mashhad
  Fordham University
  Frankfurt School of Finance & Management
  Friedrich-Alexander-Universität Erlangen-Nürnberg
  Griffith University
  Guangxi University
  Hamburg University
  Harbin Institute of Technology
  Heidelberg University
  Hong Kong Polytechnic University
  Howard University
  IE University
  IMT School for Advanced Studies Lucca
  Indian Institute of Management Ahmedabad
  Indian Institute of Management Indore
  Indian Institute of Management Kozhikode
  Indian Institute of Science
  Indian Institute of Technology, Bombay
  Indian Institute of Technology, Delhi
  Indian Institute of Technology, Kanpur
  Indian Institute of Technology, Roorkee
  Indian Statistical Institute, Delhi
  Indiana Institute of Technology
  Indira Gandhi Institute of Development Research (IGIDR)
  Inner Mongolia Agriculture Univeristy
  Insper (Institute of Education and Research)
  Institut Agro Montpellier
  Institute of Technology Sligo
  International Trade Centre
  Iran University of Science and Tchnology
  Islamic Science University of Malaysia
  Istanbul Bilgi University
  Jadavpur University
  Jawaharlal Nehru University
  Johannes Kepler University Linz
  Jönköping University
  Kangwon National University
  Katholische Universität Eichstätt-Ingolstadt
  Kiel University
  Kyoto University
  LUISS Guido Carli
  Lahore School of Economics
  Leibniz Universität Hannover
  Leipzig University
  Libera Università di Bolzano
  Linnéuniversitetets
  Marmara University
  Nelson Mandela University
  New Economic School
  North-West University
  Northern Illinois University
  Norwegian University of Life Sciences
  Norwegian University of Science and Technology
  Oregon State University
  Osaka University
  Paderborn University
  Pardee RAND Graduate School
  Politecnico di Torino
  Pontifical Catholic University of Rio de Janeiro
  Queens' University Belfast
  Queensland University of Technology
  RWTH Aachen University
  Radboud University
  Royal Holloway, University of London
  Rutgers University, Newark
  Sabancı University
  Saint Mary's University (SMU)
  Sapienza Università di Roma
  Sciences Po Toulouse
  Sharif University of Technology
  Shiv Nadar University
  Sogang University
  Sorbonne Université
  Southern Methodist University
  St. Petersburg State University of Economics
  Staffordshire University
  Stellenbosch University
  Stony Brook University (SUNY)
  Sun Yat-Sen University
  Swedish University of Agricultural Sciences
  Tampere University
  Taylor's University
  Technical University of Crete
  Technical University of Denmark
  Technical University of Munich
  Technion
  Technische Universität Berlin
  Technische Universität Kaiserslautern
  Tecnológico de Monterrey
  Tel Aviv University
  Telecom ParisTech
  The New School
  Trinity College Dublin, University of Dublin
  Tufts University
  Umeå University
  Universidad Anáhuac
  Universidad Nacional Autónoma de México (UNAM)
  Universidad Pontificia Comillas
  Universidad Publica de Navarra
  Universidad de Alicante
  Universidad de Castilla-La Mancha
  Universidad de Deusto
  Universidad de San Andrés
  Universidade Tecnológica Federal do Paraná
  Universitat Jaume I
  Universitat Ramon Llull
  Universitat Rovira i Virgili
  Universitat de València
  University College Dublin
  University at Albany (SUNY)
  University of Adelaide
  University of Agder
  University of Auckland
  University of Basel
  University of Bath
  University of Bayreuth
  University of Bern
  University of Canterbury
  University of Cape Town
  University of Cyprus
  University of Delhi
  University of Dschang
  University of Duisburg-Essen
  University of Freiburg
  University of Fribourg
  University of Graz / Karl Franzens University, Graz
  University of Guelph
  University of Göttingen
  University of Haifa
  University of Hawaiʻi at Mānoa
  University of Ibadan
  University of Iceland
  University of Innsbruck
  University of Jena
  University of Johannesburg
  University of Konstanz
  University of Limerick
  University of Lisbon
  University of Liverpool
  University of Ljubljana
  University of Luxembourg
  University of Manitoba
  University of Minho
  University of Mississippi
  University of Muenster
  University of New Hampshire
  University of North Carolina, Charlotte
  University of North Carolina, Greensboro
  University of North Texas
  University of Oslo
  University of Otago
  University of Portsmouth
  University of Queensland
  University of Rhode Island
  University of Roehampton
  University of Saskatchewan
  University of Science and Technology in China
  University of Sheffield
  University of Southern Denmark
  University of St. Gallen
  University of Stavanger
  University of Stuttgart
  University of Sussex
  University of Technology Sydney
  University of Texas at Arlington
  University of Texas at El Paso
  University of Turku
  University of Vaasa
  University of Waterloo
  University of Western Australia
  University of Wisconsin, Milwaukee
  University of the Western Cape
  Università Carlo Cattaneo
  Università Cattolica del Sacro Cuore
  Università Politecnica delle Marche
  Università degli Studi "G. D’Annunzio" Chieti-Pescara
  Università degli Studi di Cagliari
  Università degli Studi di Ferrara
  Università degli Studi di Firenze
  Università degli Studi di Genova
  Università degli Studi di Macerata
  Università degli Studi di Messina
  Università degli Studi di Milano Biocca
  Università degli Studi di Napoli Federico II
  Università degli Studi di Padova
  Università degli Studi di Pavia
  Università degli Studi di Siena
  Università degli Studi di Torino
  Università degli Studi di Trento
  Università degli Studi di Verona
  Université Clermont Auvergne
  Université Côte d’Azur
  Université Grenoble Alpes
  Université Libre de Bruxelles
  Université Lumière Lyon 2
  Université Paris Nanterre
  Université Paris-Est Créteil
  Université Paris-Saclay
  Université de Bordeaux
  Université de Franche-Comté
  Université de Genève
  Université de Lorraine
  Université de Nantes
  Université de Pau et des Pays de l'Adour
  Université de Strasbourg
  Université de Technologie de Compiègne
  Université de Toulon
  Victoria University of Wellington
  Vienna Graduate School of Finance (VGSF)
  Waseda University
  Wilfrid Laurier University
  Wuhan University of Technology
  York University
  École Normale Superieure de Lyon
  École Normale Supérieure Paris-Saclay
Total Institutions: 242

TYPE 4:
  Aligarh Muslim University
  Anglia Ruskin University
  Aston University
  Athens University of Economics and Business
  Aveiro University
  Babcock University
  Bayero University, Kano
  Beijing Institute of Technology
  Bentley University
  Bharathidasan University
  Bielefeld University
  Bilkent University
  Birkbeck College, University of London
  Bond University
  Bournemouth University
  Boğaziçi University
  Brussels Free University
  COMSATS University Islamabad
  Cairo University
  Cardiff University
  Carl von Ossietzky Universität Oldenburg
  Chaoyang University of Technology
  Charles University
  Clark University
  Colorado State University
  Concordia University
  Covenant University
  Coventry University
  Dalian University of Technology
  Devi Ahilya Vishwavidyalaya, Indore
  Drexel University
  Dublin Institute of Technology
  EDHEC Business School
  Eastern Kentucky University
  FUCAPE Business School
  Federal University of Rio de Janeiro
  Florida Atlantic University
  Galatasaray University
  Ghent University
  Glasgow Caledonian University
  Gran Sasso Science Institute
  Hanyang University
  Heriot Watt University
  Hohai University
  ICFAI Foundation for Higher Education
  ISM University of Management and Economics
  Illinois Institute of Technology
  Indian Institute of Technology, Indore
  Indian Institute of Technology, Kharagpur
  Indian Institute of Technology, Madras
  Indiana University Purdue University Indianapolis (IUPUI)
  Indira Gandhi University, Meerpur, Rewari
  Institut national de recherche pour l'agriculture, l'alimentation et l'environnement (INRAE)
  Instituto Politécnico Nacional (IPN)
  International Centre for Education in Islamic Finance
  International Islamic University Malaysia
  International Monetary Fund (IMF)
  Jaypee Institute of Information Technology
  Justus-Liebig-Universität Gießen
  KTH Royal Institute of Technology
  Kansas State University
  Kiel Institute for the World Economy
  King's College London
  Kingston University London
  Kobe University
  Loughborough University
  Luleå University of Technology
  MINES ParisTech
  Macquarie University
  Maharshi Dayanand Saraswati University, Ajmer
  Manchester Metropolitan University
  Manchester University
  Marietta College
  Martin Luther University of Halle-Wittenberg
  Meiji University
  Mewar University
  Middle Tennessee State University
  Mississippi State University
  Multimedia University
  Nanjing University of Aeronautics and Astronautics
  Nanyang Technological University
  National Graduate Institute for Policy Studies (GRIPS), Japan
  National University of Sciences and Technology (NUST)
  New Mexico State University
  Newcastle University
  Nnamdi Azikiwe University
  Nottingham Trent University
  Obafemi Awolowo University
  Old Dominion University
  Otto-von-Guericke University Magdeburg
  Oxford Brookes University
  Pusan National University
  Royal Melbourne Institute of Technology (RMIT)
  Ruhr University Bochum
  SKEMA Business School
  SOAS (School of Oriental and African Studies), University of London
  SWPS University of Social Sciences and Humanities
  Saint Petersburg University
  Sant'Anna School of Advanced Studies
  Sari Agricultural Sciences and Natural Resources University
  Scuola Normale Superiore
  South Asian University
  Southern Illinois University, Carbondale
  State University of New York at Buffalo
  Sultan Qaboos University
  Swiss Tropical and Public Health Institute
  Tallinn University of Technology
  Technische Universität Braunschweig
  Technische Universität Dortmund
  Technological University Dublin
  Universidad Antonio de Nebrija
  Universidad Europea de Madrid
  Universidad de Cantabria
  Universidad de Granada
  Universidad de Málaga
  Universidad de Salamanca
  Universidad de Valladolid
  Universidad de Zaragoza
  Universidad del País Vasco / Euskal Herriko Unibertsitatea
  Universitat de Girona
  Universitat de les Illes Balears
  Universiteit Antwerpen
  Universiti Kebangsaan Malaysia
  Universiti Malaysia Perlis
  Universiti Sains Malaysia
  Universiti Teknologi Malaysia
  Universiti Utara Malaysia
  University College Cork
  University of Aberdeen
  University of Abuja
  University of Bamenda
  University of Beira Interior
  University of Belgrade (Универзитет у Београду)
  University of Bradford
  University of Carthage
  University of Chittagong
  University of Colorado, Denver
  University of Crete
  University of Dundee
  University of East Anglia
  University of East London
  University of Fort Hare
  University of Gdańsk
  University of Gloucestershire
  University of Helsinki
  University of Huddersfield
  University of Hull
  University of Hyderabad
  University of Jammu
  University of Jyväskylä
  University of Karachi
  University of Kent
  University of Leeds
  University of Lucknow
  University of Malaya
  University of Memphis
  University of Nevada, Reno
  University of New Orleans
  University of Newcastle
  University of Passau
  University of Piraeus
  University of Porto
  University of Pretoria
  University of Rajshahi
  University of Salford
  University of Sarajevo
  University of Sistan and Baluchestan
  University of South Florida
  University of Southern Mississippi
  University of Southern Queensland
  University of St Andrews
  University of Strathclyde
  University of Sunderland
  University of São Paulo
  University of Tabriz
  University of Tehran
  University of Tirana
  University of Victoria
  University of Wollongong
  University of Wyoming
  University of Zagreb
  University of the Aegean
  University of the Punjab
  University of the West of England
  University of the Witwatersrand
  Università degli Studi del Molise
  Università degli Studi dell'Insubria
  Università degli Studi di Bergamo
  Università degli Studi di Brescia
  Università degli Studi di Palermo
  Università degli Studi di Roma Tre
  Università degli studi di Modena e Reggio Emilia
  Università di Pisa
  Université Angers
  Université Cheikh Anta Diop de Dakar
  Université Claude Bernard Lyon 1
  Université Paris 1 Panthéon-Sorbonne
  Université Paris 2 Panthéon-Assas
  Université Toulouse Jean Jaurès
  Université d'Evry Val-d'Essonne
  Université de Lille