# Assortative Matching With Coarse Types: Chi-Square Estimator of Deep Parameters given Stochastic Classification of Economics Departments by Placement Rates

James Yu, 30 November 2021 - modified by mike December

## VERSION: $n$, $m$ fixed, ratios endogenous

In [1]:
INSTALL_PACKAGES = false   # change this to true if you are running this notebook for the first time
YEAR_INTERVAL = 2003:2021  # change this to select the years of data to include in the estimation
NUMBER_OF_TYPES = 4        # change this to select the number of types to classify academic departments into
NUMBER_OF_SINKS = 1        # change this to 4 to use individual sink types
SAVE_TO_DATADASE = false   # change to true to save the type allocation to the database
TOTAL_DISTRIBUTIONS = NUMBER_OF_TYPES + NUMBER_OF_SINKS;

In [2]:
import Pkg
for package in ["BlackBoxOptim", "Distributions", "ForwardDiff", "JSON", "Optim", "Quadrature", 
        "StatsPlots","DotEnv","MySQL","DBInterface","Tables"]
    if INSTALL_PACKAGES
        Pkg.add(package)
    end
end
using  JSON, HTTP, Distributions, DotEnv, MySQL, DBInterface, Tables

In [3]:
function get_data(url)
    resp = HTTP.get(url);
    es = String(resp.body)
    return placements = JSON.parse(es)
end

get_data (generic function with 1 method)

In [4]:
function find_inst(name::String,outcomes,to_from::Bool = false)
    check = false
    for outcome in outcomes
        if to_from == true
            if outcome["to_name"] == name
                println(outcome)
                check = true
            end
        else
            if outcome["from_institution_name"] == name
                println(outcome)
                check = true
            end
        end
    end
    if check == false
        println("Not found")
    end
end

find_inst (generic function with 2 methods)

This is the type allocation notebook, modified by Mike.

This part gets all the placement data using `https://support.econjobmarket.org/api/placement_data`

In [11]:
url = "https://support.econjobmarket.org/api/placement_data"
placements = get_data(url);
m = length(placements)
println(m)
x =
println(rand(1:m))
println(typeof(placements))

14882
11539
Vector{Any}

In [13]:
placements[rand(1:m)]

Dict{String, Any} with 17 entries:
  "to_shortname"          => "Mechanical Engineering, Indian I"
  "to_name"               => "Indian Institute of Technology, Delhi"
  "to_department"         => "Mechanical Engineering"
  "name"                  => "Decision Sciences"
  "category_id"           => "25"
  "from_shortname"        => "Deaptment of Business Administra"
  "to_oid"                => "9949"
  "recruiter_type"        => "4"
  "description"           => "Academic organization (other than econ, business,…
  "from_oid"              => "9079"
  "position_name"         => "Post-Doc"
  "year"                  => "2022"
  "aid"                   => "54010"
  "to_institution_id"     => "4394"
  "postype"               => "6"
  "from_institution_id"   => "2747"
  "from_institution_name" => "Aligarh Muslim University"

In [6]:
placements = unique(placements);
println(length(placements))

14882

future debugging apparently there are 16 duplicates

In [7]:
const DB = DBInterface
cfg = DotEnv.config();

Find all the placements to assistant professor positions and put them in a set called academic_builder.
Put the other placements in a set called sink_builder

In [8]:
i = 0
oid_mapping = Dict{}()
institution_mapping = Dict{}()
academic = Set{}()
academic_to = Set{}()
academic_builder = Set{}()
sink_builder = Set{}()
for placement in placements
    if in(parse(Int64, placement["year"]), YEAR_INTERVAL)
        push!(academic, placement["from_institution_name"])
        push!(academic_to, placement["to_name"])
        oid_mapping[placement["from_oid"]] = placement["from_institution_id"]
        oid_mapping[placement["to_oid"]] = placement["to_institution_id"]
        institution_mapping[placement["from_institution_id"]] = placement["from_institution_name"]
        institution_mapping[placement["to_institution_id"]] = placement["to_name"]
        if placement["position_name"] == "Assistant Professor"
            push!(academic_builder, placement)
        else
            push!(sink_builder, placement)
        end
    end
end

println(length(academic_builder), " total assistant professor outcomes")
println(length(sink_builder), " other outcomes")
println(length(academic_builder)+length(sink_builder))

6174 total assistant professor outcomes
3575 other outcomes
9749

This is smaller than the total placements because it doesn't include placements outside the year interval.

This piece of code deals with teaching universities by checking if they ever graduated Ph.D. students:

In [10]:
tch_sink = Set{}() # sink of teaching universities that do not graduate PhDs
for key in academic_to
    if !(key in academic)
        push!(tch_sink, key)
    end
end

println(length(academic))
println(length(academic_to))
println(length(tch_sink))

468
1386
983

these are institutions, not placements.  Logic relies on the fact that julia dicts and sets can't contain duplicates

The next piece of code sorts all the sink departments (except teaching universities, which are dealt with above) by category:

In [12]:
acd_sink = Set{}()
gov_sink = Set{}()
pri_sink = Set{}()

for outcome in sink_builder
    # CODE global academic, other_placements, pri_sink, gov_sink, acd_sink
    if outcome["recruiter_type"] in ["6","7"]
        # private sector: for and not for profit
        push!(pri_sink, string(outcome["to_name"], " (private sector)"))
    elseif outcome["recruiter_type"] == "5"
        # government institution
        push!(gov_sink, string(outcome["to_name"], " (public sector)"))
    else
        # everything else including terminal academic positions
        push!(acd_sink, string(outcome["to_name"], " (academic sink)"))
    end
end

println(length(acd_sink))
println(length(gov_sink))
println(length(pri_sink))

492
114
136

Now that we have five sets for every category of department, we can construct a matrix representing the placements between these departments:

In [13]:
institutions = vcat(collect(academic), collect(acd_sink), collect(gov_sink), collect(pri_sink), collect(tch_sink));

In [14]:

out = zeros(Int64, length(institutions), length(collect(academic)))
i = 0
for outcome in academic_builder
    i += 1
    out[findfirst(isequal(outcome["to_name"]), institutions), findfirst(isequal(outcome["from_institution_name"]), institutions)] += 1
end
for outcome in sink_builder
    i += 1
    keycheck = ""
    if outcome["recruiter_type"] in ["6", "7"]
        keycheck = string(outcome["to_name"], " (private sector)")
    elseif outcome["recruiter_type"] == "5"
        keycheck = string(outcome["to_name"], " (public sector)")
    else
        keycheck = string(outcome["to_name"], " (academic sink)")
    end
    #println(keycheck)
    #println(findfirst(isequal(keycheck), institutions))
    #println(outcome["from_institution_name"]," ",findfirst(isequal(outcome["from_institution_name"]), institutions))
    out[findfirst(isequal(keycheck), institutions), findfirst(isequal(outcome["from_institution_name"]), institutions)] += 1
end
println("Total number of outcomes: ", i)
println(length(gov_sink))
println(length(pri_sink))

Total number of outcomes: 9749
114
136

In [42]:
sum(out)

9749

Finally, we get to the estimator. For this estimate, we assume that each observed set of placement outcomes between any two pairs of departments is drawn from a distribution common to the "type" of the hiring department and the "type" of the graduating department. Here this distribution is assumed to be Poisson, in line with classical stochastic block models used for similar estimations in Karrer and Newman (2011) and Peixoto (2014).

Given a particular assignment of departments to types, and given the placement outcomes, a single round of estimation computes the mean number of applicants from any single type $t$ department that would be hired at a single type $t^\prime$ department and measures the probability that each independent observation was drawn from its corresponding mean. When summed together, the logarithms of the probabilities form a log-likelihood which can be used for maximum likelihood estimation.

In [16]:
function bucket_estimate(assign::Array{Int64}, A::Matrix{Int64}, num, numsink)
    b = zeros(Int64, size(A)[1], size(A)[2])
    T = zeros(num + numsink, num)
    count = zeros(num + numsink, num)
    for i in 1:size(A)[1], j in 1:size(A)[2]
         @inbounds val = (num + 1) * (assign[j] - 1) + assign[i]
         @inbounds b[i, j] = val
         @inbounds T[val] = ((T[val] * count[val]) + A[i, j]) / (count[val] + 1)
         @inbounds count[val] += 1
    end
    L = 0.0
    @simd for i in eachindex(A)
        @inbounds L += logpdf(Poisson(T[b[i]]), A[i])
    end
    return -L, T
end

bucket_estimate (generic function with 1 method)

Finally, we compute the maximum-likelihood estimated Poisson means by stochastically re-allocating departments to types and saving likelihood-improving re-allocations until no further re-allocations are found.

### To skip re-allocating, uncomment the following line instead if you have an allocation already. Do not run the cell after.

In [17]:
#est_alloc = JSON.parsefile("type_allocation.json");
function doit(sample, academic_institutions, asink, gsink, psink, tsink, all_institutions, num, numsink)
    # some initial states
    current_allocation = Array{Int64}(undef, length(all_institutions))
    cur_objective = Inf
    best_mat = nothing
    cursor = 1
    for inst in academic_institutions
        current_allocation[cursor] = 1
        cursor += 1
    end
    # the sinks must stay in fixed types
    # this was built to support more sinks, but by default we only use one
    # change the "current_allocation[cursor] = ..." lines to group sinks together
    for key in asink # other academic
        current_allocation[cursor] = num + min(1, numsink)
        cursor += 1
    end
    for key in gsink # public sector
        current_allocation[cursor] = num + min(2, numsink)
        cursor += 1
    end
    for key in psink # private sector
        current_allocation[cursor] = num + min(3, numsink)
        cursor += 1
    end
    for key in tsink # assistant professor at teaching universities
        current_allocation[cursor] = num + min(4, numsink)
        cursor += 1
    end
    blankcount = 0

    # BEGIN MONTE CARLO REALLOCATION ROUTINE
    while true
        # attempt to reallocate academic institutions to a random spot
        temp_allocation = copy(current_allocation)
        k = rand(1:length(academic_institutions))
        @inbounds temp_allocation[k] = rand(delete!(Set(1:num), temp_allocation[k]))
        # check if the new assignment is better
        test_objective, estimated_means = bucket_estimate(temp_allocation, sample, num, numsink)
        if test_objective < cur_objective
            print(test_objective, " ")
            blankcount = 0
            cur_objective = test_objective
            best_mat = estimated_means
            current_allocation = temp_allocation
        else
            blankcount += 1
            if blankcount % 1000 == 0
                print(blankcount, " ")
            end
        end
        if blankcount == 100000
            return cur_objective, best_mat, current_allocation
        end
    end
end
est_obj, est_mat, est_alloc = doit(out, collect(academic), collect(acd_sink), collect(gov_sink), collect(pri_sink),
    collect(tch_sink), institutions, NUMBER_OF_TYPES, NUMBER_OF_SINKS)

56466.84401132045 56424.586560782285 56405.6693928734 56378.31231579637 56356.56215587721 56332.66034988355 56309.010438527 56290.29400179503 56278.82390601321 56269.09264913503 56255.01695557108 56231.585557319486 56212.58755675718 56187.834053512306 56166.30772602402 55933.43677954476 55922.81331960971 55900.273067646856 55884.67480525072 55860.372316357105 55643.85819299809 55619.742418626025 55599.83570530347 55578.072442621735 55555.90737340263 55518.51448189492 55447.50492167668 55421.284772513936 55297.91743244851 55252.60101344534 54877.805720253826 54808.329237581114 54791.41250688725 54770.69315149761 54759.16970022621 54743.37127122358 54118.800542500794 54094.82556385884 53632.21641332765 53626.93108287333 53610.724734770905 53601.85105566877 53586.606723003744 53406.37389424328 53321.512273554865 53300.424152546126 53118.937237923696 53102.20427741214 53088.48161768851 53067.477366182386 53061.91037911947 52946.67706441528 52938.19559829428 52931.55200468726 52920.348041682795 52899.559367797985 52881.72186664526 52871.66445353755 52710.561321324436 52697.04006300117 52687.09043793676 52670.610163951205 52649.881903768946 52647.154003291755 52645.74151585546 52625.01640700569 52592.70829182872 52577.040298699976 52513.84341208201 52495.55735632032 52477.180492560365 52462.80091972658 52443.20365915923 52422.52406612267 52268.32485248082 52230.63232083728 52212.987864198294 52196.07720204467 52180.7143826381 52169.6888990778 51791.02735900502 51749.92206258677 51745.35271955457 51728.29162677467 51715.046282136056 51695.1331591745 51683.75244882243 51347.48060110446 51034.17416600838 50890.24763079074 50875.86238102134 50856.98394781165 50838.00939476656 50818.939801209635 50803.35681172402 50786.762855551766 50785.09360339251 50765.871705329475 50746.55609641913 50715.575692754326 50698.12518999384 50678.77592125121 50146.90249291216 50140.542820607254 50098.868691738804 50089.1287010866 50070.66357777875 50067.85632184987 50055.656093683036 50051.250846515686 50032.67930338044 50024.449691965565 50009.15743982873 49992.09713749281 49979.51540438933 49960.65712442809 49925.07108834814 49913.16873249209 49905.72335941611 49900.38042876077 49896.36286496177 49895.640568995295 49878.38825404344 49875.49449965908 49787.303502017894 49784.73250404372 49775.9414410288 49758.83659692635 49744.913016249 49701.713328123864 49659.747533354515 49657.011409628714 49643.95386452099 49603.86508979561 49497.658880480994 49154.219371827545 49140.58920382362 48221.740557769364 48208.60285150383 48202.64448813048 48194.04416415479 48180.966078447884 48173.54277392019 48158.712069956244 48148.84854802942 47472.18796899816 47462.29935840204 47442.51079325188 47428.914144195296 47428.36691435136 47426.56361027115 47306.1254766839 47292.457236567614 47277.221665104866 47270.00516520763 47265.58467612755 47256.607410362565 47244.13800236325 47234.59484327468 47224.397255452604 47212.563704172724 47203.5436178897 47187.90963547509 47176.29038720433 47160.5278827659 47152.94510858915 47148.94896885888 47142.02488578865 47126.148322628986 47110.18505248752 47097.13876994214 47094.69830025364 47078.59743973914 47077.70754394381 47061.495654881655 47045.19686263276 46936.17416925337 46928.80669191792 46910.28467371826 46906.08787868903 46884.70430607021 46874.02685543041 46859.4600691835 46849.29431643408 46847.95558903189 46833.25973439528 46515.89092985369 46514.12076104564 46504.758188409134 46488.96013844821 46362.920843448264 46353.900326540854 46338.66407625106 46241.91940033007 46226.219351494976 46219.96894524525 46206.4894673151 46192.865432528415 46182.72555843807 46171.80389506172 46155.73278365978 46139.57279763005 46129.7802171344 45475.065193224415 45461.36441869183 45449.11623040607 45433.74868357367 45418.294786475184 45397.84461985439 45381.29054978707 45367.21079576918 45360.857156716804 45345.117270807 45336.667079153376 45333.73034851115 45317.83173582974 45302.39526201414 45294.05939364514 45285.46835661424 45276.18884927125 45261.402644227055 45250.72144368576 45220.06565849179 45203.79420273724 45183.797317535034 45171.39424298423 45158.91714642722 45147.92068566283 45136.738719685854 45126.46757464429 45112.93742293411 45097.74661104766 45067.14630583866 45056.14051775013 45041.790087916015 45024.9589923506 45008.82753332681 45008.74900740096 45007.59042120141 44990.54607975994 44990.14333303054 44989.205209924046 44972.030035181175 44970.48662914838 44964.930405713545 44947.57297481304 44932.6614376287 44922.16955905763 44912.187252943535 44896.07778264382 44895.18421972924 44880.85384518026 44310.96406332778 44294.23310824962 44277.51703571701 44263.614379861196 44246.70829487206 44211.2538181347 44187.4619571329 44175.95336965135 44159.1691026972 44150.03109938631 44148.21546515599 44133.26988970598 44133.267031997064 44118.90079187302 44111.67988022752 44111.29727331809 44095.6106845621 44093.948491152216 44074.91855685594 44074.459803994985 44057.14861672978 44055.125303425746 44018.18425417206 43925.968012436686 43916.279330015 43901.33570341388 43884.13823694461 43876.483074348354 43859.11304255894 43677.78074803558 43661.79800989943 43644.21147788084 43626.51242705064 43616.32273901573 43602.79811049952 43584.83212629117 43566.750206367484 43565.91808520991 43532.46370226751 43521.85118740369 43513.02899248994 43496.15882357433 43476.96350466914 43476.4102080419 43458.88675514164 43343.90495698506 43331.98750563023 43330.87624214004 43319.41547268097 43304.4082101483 43288.842900168966 43279.705440323436 43263.20922574194 43257.788384202824 43240.76594068433 43182.147530945804 43162.699947175206 43092.309699507445 43078.47316285569 42872.03331076724 42854.392480276474 42517.371794641986 42515.25430350183 42438.55918925849 42423.26632359601 42409.2524570759 42231.461894036845 42211.24539595749 42207.36778034955 42189.66643269588 42173.88318484206 42108.675444133434 42080.09214329527 42069.9909757822 42058.61429803246 42040.69063981161 42007.72952575969 41969.99887394978 41912.0531375078 41898.46205880824 41883.573398248576 41875.94357805344 41867.50671221771 41858.73210231645 41842.292951057636 41841.402036091626 41775.54867461611 41764.88499414846 41746.863288830624 41739.89223918298 41731.88147813762 41728.725743258445 41710.361149394404 41682.9592988089 41595.534109241664 41579.08266417473 41578.87081308337 41497.52364030556 41480.14155054497 41473.41024863212 41470.02783548866 41451.094925513185 41451.03470905479 41437.10600331899 41436.56978143532 1000 41436.52328465017 1000 2000 3000 4000 5000 6000 7000 8000 9000 10000 11000 12000 13000 14000 15000 16000 17000 18000 19000 20000 21000 22000 23000 24000 25000 26000 27000 28000 29000 30000 31000 32000 33000 34000 35000 36000 37000 38000 39000 40000 41000 42000 43000 44000 45000 46000 47000 48000 49000 50000 51000 52000 53000 54000 55000 56000 57000 58000 59000 60000 61000 62000 63000 64000 65000 66000 67000 68000 69000 70000 71000 72000 73000 74000 75000 76000 77000 78000 79000 80000 81000 82000 83000 84000 85000 86000 87000 88000 89000 90000 91000 92000 93000 94000 95000 96000 97000 98000 99000 100000

(41436.52328465017, [0.016198347107437994 0.0010019550342130928 0.13094098883572564 0.3069518716577538; 0.002346041055718491 0.0010893600416233059 0.018887945670628205 0.022058823529411777; … ; 0.014616755793226356 0.0007115749525616725 0.14551083591331263 2.3044982698961944; 0.00424418093983327 0.0010238429172510354 0.026712433257055485 0.0664620630861042], [2, 4, 2, 1, 1, 1, 1, 4, 2, 1  …  5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

In [18]:
function doit(sample, academic_institutions, asink, gsink, psink, tsink, all_institutions, num, numsink)
    # some initial states
    current_allocation = Array{Int64}(undef, length(all_institutions))
    cur_objective = Inf
    best_mat = nothing
    cursor = 1
    for inst in academic_institutions
        current_allocation[cursor] = 1
        cursor += 1
    end
    # the sinks must stay in fixed types
    # this was built to support more sinks, but by default we only use one
    # change the "current_allocation[cursor] = ..." lines to group sinks together
    for key in asink # other academic
        current_allocation[cursor] = num + min(1, numsink)
        cursor += 1
    end
    for key in gsink # public sector
        current_allocation[cursor] = num + min(2, numsink)
        cursor += 1
    end
    for key in psink # private sector
        current_allocation[cursor] = num + min(3, numsink)
        cursor += 1
    end
    for key in tsink # assistant professor at teaching universities
        current_allocation[cursor] = num + min(4, numsink)
        cursor += 1
    end
    blankcount = 0

    # BEGIN MONTE CARLO REALLOCATION ROUTINE
    while true
        # attempt to reallocate academic institutions to a random spot
        temp_allocation = copy(current_allocation)
        k = rand(1:length(academic_institutions))
        @inbounds temp_allocation[k] = rand(delete!(Set(1:num), temp_allocation[k]))
        # check if the new assignment is better
        test_objective, estimated_means = bucket_estimate(temp_allocation, sample, num, numsink)
        if test_objective < cur_objective
            print(test_objective, " ")
            blankcount = 0
            cur_objective = test_objective
            best_mat = estimated_means
            current_allocation = temp_allocation
        else
            blankcount += 1
            if blankcount % 1000 == 0
                print(blankcount, " ")
            end
        end
        if blankcount == 100000
            return cur_objective, best_mat, current_allocation
        end
    end
end

est_obj, est_mat, est_alloc = doit(out, collect(academic), collect(acd_sink), collect(gov_sink), collect(pri_sink), collect(tch_sink), institutions, NUMBER_OF_TYPES, NUMBER_OF_SINKS)

56487.04046492536 56038.4118153541 56002.0480589509 55984.212083460385 55967.34151313887 55948.457038532295 55924.591989433706 55913.35751988321 55890.62852865761 55870.263746183184 55864.35446295893 55840.49734140678 55822.74312203061 55798.61338449356 55781.5602502772 55759.109000889744 55750.640818890104 55702.00072139573 55660.17382125017 55645.154695236386 55625.62180436727 55607.97283358264 55603.58824471621 55582.60046421768 55559.27213882943 55545.15545464188 55521.66613007265 55502.84717288996 55485.81756907625 55482.03003489222 55460.825707993536 55441.405394125235 55429.58043887144 55405.84751552813 55144.010135545956 55136.63570453963 55134.42821812731 55125.05427567062 55111.87642299775 55090.777695470475 55078.21054276967 55062.25554077472 54956.638300197024 54952.90517957586 54935.07897904165 54912.17926359084 54839.22711531975 54674.7540379075 54653.98737115772 54631.281848454135 54608.407005564324 54592.51831605395 54082.94492216498 54062.2373118018 54042.55845264708 54019.90910564985 54000.762554425346 53839.58243560458 53559.467504882174 53537.35430349867 53515.09626794078 53495.19343166876 53478.789112295504 53456.209707914044 52648.97948996753 52633.24690174641 52579.57024159864 52030.53763082338 52009.76511398941 51995.14409905837 51975.42992328808 51816.13289138308 51797.1072265136 51779.273036601124 51404.45225564056 51317.28036862151 51300.043295828786 51285.32803490645 51265.101410522126 51246.082989103124 51231.71779715543 51218.438775411676 51217.13488309345 51213.949374631986 51207.90267671635 51195.75508920298 51186.89185483286 51176.95955628856 50392.243864631055 50373.14020607689 50363.31942456377 50210.2022448113 50203.168922625184 50187.26625338943 50171.022620803036 50157.21673129889 50150.91913252743 50147.349478836986 50130.99962362074 50117.43814729771 50104.33585924197 50088.25506558971 50070.88938181238 50055.48600611049 50051.35871951471 50042.371445261335 50016.78891799539 49506.876053956046 49489.19267271088 49441.81059194252 49425.461877391754 49413.29440554599 49404.96312399695 49390.02204484372 49384.266510199566 49369.65185618608 49357.21552145891 49349.99175691472 49334.37280554552 49316.34892548516 49300.6341213924 49279.671360678076 49261.65849522098 49243.54295079539 49226.54937971847 49208.24294488788 49192.373298403356 49173.89007000075 49156.574425456645 49151.637600141665 49104.05844440655 48476.86848630581 48465.39803811475 48451.04961542645 48433.36178995876 48419.316966006394 48404.96829112903 48388.70329133357 48387.38053617299 48369.399188081894 48361.93037579627 48353.646758660674 48335.47555565699 48333.98089134176 48258.58430223777 48241.64615792493 48231.51806787994 48219.782394200745 48072.793758285356 47507.19272466459 47490.38083198887 47483.89140091177 47471.27098199385 47461.19896792341 47091.86941164558 47075.48465213872 47068.28036690557 47057.97719900874 47041.447395038515 47030.65434745738 47025.76719150659 47010.71285151065 46995.12047816011 46989.39075471369 46974.91017022494 46823.80235471253 46819.48290337053 46819.18965459817 46803.140347184315 46792.32135031265 46779.79727743438 46779.550824950784 46758.555380626836 46748.62243946964 46732.800869535844 46718.77765419893 46717.764738227466 46707.19554445269 46693.756646870424 46692.15340378498 46690.362617390725 46383.59645837449 46366.6858564137 46360.711022233896 46344.17875915255 46339.92063198494 46324.58991326965 46311.569879807015 46298.662915801615 46287.23605667182 46280.35253447116 46263.615475064245 46248.3367174069 46231.41706089435 46215.962266874456 46199.685388292375 46191.82614870686 46174.603308337915 46166.072003334266 46078.099137577694 46074.987985437554 46070.58667937377 46053.51026547619 46036.33726827236 46015.463584500656 46011.305363343425 45994.21331951155 45983.11996710215 45932.960950115536 45920.717124040755 45903.66114176542 45893.21675873175 45880.715255818424 45872.281618871326 45856.49523128499 45842.55177011522 45742.127240263515 45727.46948886591 45710.22070430182 45693.77334773623 45681.94363250215 45667.58167928051 45652.39903769736 45641.252072429954 45623.065960768276 45607.5892537184 45600.600560830724 45545.24455360207 45531.03622648372 45516.229889596994 45515.36350547171 45460.64503058269 44815.609056775305 44799.49801906015 44783.28851725753 44770.0160701846 44753.619807098024 44748.72530495347 44740.54923390728 44725.51082990286 44707.84561945523 44700.60984857377 44687.14967671715 44670.59622464056 44653.94015960081 44650.94653611061 44635.69536374761 44621.85511497795 44604.90780986252 44588.7673903724 44577.137080684886 44215.5309005649 44208.65382666483 44179.804147569135 44168.74644425421 44161.19046756571 44144.604444751174 44071.38322908639 44043.83816859462 44031.08704002362 44014.30635502948 44004.35957614087 44004.03874337657 43875.045122625284 43864.243335834944 43852.563691558134 43847.32241076185 43827.924750605176 43811.04270000568 43796.9637825982 43779.8905459691 43764.406819202115 43747.22426171283 43735.682758905175 43724.697849219316 43708.34056404141 43697.73694549241 43692.31777567258 43674.640769026424 43656.848789292206 43622.222857132314 43620.61775809267 43608.52380267307 43577.856013523386 43576.022573593444 43566.722100617444 43555.901704536096 43538.026321108875 43504.31780938693 43486.32402657572 43483.493756863085 43465.33366959293 43456.34307839773 43437.98090272289 43420.633025918825 43411.88587961878 43308.18595209439 43297.484048020684 43289.652635369355 43276.745509157445 43266.443630640526 43247.90478081249 43247.4460382349 43231.36618135048 43223.39350229344 43220.98405889832 43203.63299740728 43195.83109602632 42965.32496942726 42863.279215896204 42844.99565493151 42797.8562340596 42790.576541703915 42772.17036187519 42765.02053153433 42764.30366401308 42718.51849211277 42701.32252675681 42685.4583742966 42666.56774622242 42647.5443925552 42634.20630602862 42614.6236111849 42606.50514520415 42592.539402198156 42577.10048005331 42188.313984153334 42188.27388512282 42178.54245233353 42177.58167159031 42172.94067868676 42165.81670885241 42162.78807335475 41969.255084350225 41967.136565677 41966.70318657858 41950.501110202866 41944.60632173179 41927.985316580874 41910.57236565192 41899.40491120356 41896.25620318878 41896.13087203194 41824.06243394909 41822.46982651231 41618.23797433378 41617.61919474496 41606.33945070587 41605.796223772086 41593.45330833276 41521.88727012455 41521.69360075909 1000 41519.47657190466 41510.74434859001 41436.52328465017 1000 2000 3000 4000 5000 6000 7000 8000 9000 10000 11000 12000 13000 14000 15000 16000 17000 18000 19000 20000 21000 22000 23000 24000 25000 26000 27000 28000 29000 30000 31000 32000 33000 34000 35000 36000 37000 38000 39000 40000 41000 42000 43000 44000 45000 46000 47000 48000 49000 50000 51000 52000 53000 54000 55000 56000 57000 58000 59000 60000 61000 62000 63000 64000 65000 66000 67000 68000 69000 70000 71000 72000 73000 74000 75000 76000 77000 78000 79000 80000 81000 82000 83000 84000 85000 86000 87000 88000 89000 90000 91000 92000 93000 94000 95000 96000 97000 98000 99000 100000

(41436.52328465017, [0.016198347107437994 0.13094098883572564 0.3069518716577538 0.0010019550342130928; 0.01722488038277513 0.18213296398891968 0.9520123839009291 0.0015916808149405836; … ; 0.002346041055718491 0.018887945670628205 0.022058823529411777 0.0010893600416233059; 0.00424418093983327 0.026712433257055485 0.0664620630861042 0.0010238429172510354], [4, 3, 4, 1, 1, 1, 1, 3, 4, 1  …  5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

In [19]:
function bucket_extract(assign, A::Matrix{Int64}, num, numsink)
    T = zeros(Int64, num + numsink, num)
    for i in 1:size(A)[1], j in 1:size(A)[2]
         @inbounds T[(num + 1) * (assign[j] - 1) + assign[i]] += A[i, j]
    end
    return T
end

bucket_extract (generic function with 1 method)

The estimated means are:

In [20]:
est_mat = bucket_extract(est_alloc, out, NUMBER_OF_TYPES, NUMBER_OF_SINKS)

5×4 Matrix{Int64}:
  441   821   861   41
  108   263   615   15
   41    94   666    3
   96   178    93   67
 1208  1751  1949  438

The matrix is then ordered such that, for any two elements in symmetric positions across the diagonal, the element below the diagonal is greater than the element above the diagonal. For example, the 204 in cell (1, 2) is greater than the 50 in the symmetric cell (2, 1) below, as are all the other symmetric pairs.

In [21]:
sum(est_mat)

9749

In [22]:
M = est_mat

5×4 Matrix{Int64}:
  441   821   861   41
  108   263   615   15
   41    94   666    3
   96   178    93   67
 1208  1751  1949  438

The next bit re-orders the tiers so that tier 1 is in the first, tier 2 the second, etc.  The ordering of the tiers is by total placements.

In [23]:
# the new placements matrix
placement_rates = zeros(Int64, (TOTAL_DISTRIBUTIONS, NUMBER_OF_TYPES))
#row sums in the estimated matrix
ovector = sum(M, dims=1)
# row sums reordered highest to lowest
svector = sortslices(ovector,dims=2, rev=true) 
#println(svector)
#println(length(ovector))
# a mapping from current row index to the index it should have in the new matrix
o = Dict{}()
for i in 1:length(ovector)
    for k in 1:length(svector)
        if ovector[1,i] == svector[1,k]
            o[i] = k
            break
        end
    end
end 
#println(o)
P = zeros(Int64, (TOTAL_DISTRIBUTIONS, NUMBER_OF_TYPES))
#shuffle the cells for the tier to tier placements
for i in 1:NUMBER_OF_TYPES
    for j in 1:NUMBER_OF_TYPES
        placement_rates[o[i],o[j]] = M[i,j]
    end
end
#shuffle the cells for tier to sink placements (separate since sink row indices don't change)
for i in NUMBER_OF_TYPES+1:NUMBER_OF_TYPES+NUMBER_OF_SINKS
    for j in 1:NUMBER_OF_TYPES
        placement_rates[i,o[j]] = M[i,j]
    end
end
placement_rates

5×4 Matrix{Int64}:
  666    94    41    3
  615   263   108   15
  861   821   441   41
   93   178    96   67
 1949  1751  1208  438

In [43]:
println(sum(placement_rates))

9749

In [44]:
o # this is the type to tier mapping, first argument is type, second is the tier

Dict{Any, Any} with 4 entries:
  4 => 4
  2 => 2
  3 => 1
  1 => 3

To verify that this is ordered properly, we can check symmetric indices:

In [28]:
for i in 1:NUMBER_OF_TYPES, j in 1:NUMBER_OF_TYPES
    if i > j # not a diagonal and only check once
        if placement_rates[i, j] <= placement_rates[j, i]
            println("FAULT: hiring ", i, " with graduating ", j, ": downward rate: ", placement_rates[i, j], ", upward rate: ", placement_rates[j, i])
        end
    end
end
println("Check Complete")

Check Complete

If everything worked fine, there should be no faults in this cell. If there are, change the order in the cell with the explicit order.

James' code only matched an institution name with a tier.  To save the matching to the database (and to use it for other purposes) we need to match tiers with oids.  Two dictionaries were created above
`oid_mapping` has keys that correspond with oids and values that coincide with institution ids,
`institution_mapping` has keys which are institution ids, while values are the corresponding institution name
The next function reverses this, takes an institution name and returns the institution id, then the set of oids that are associated with that institution.
`false` is returned if either is not found.

In [29]:
function name_to_oid(institution_name::String, institutions::Dict, organizations::Dict)
    oids = String[]
    institution_id = String
    for k in keys(institutions)
        if institutions[k] == institution_name
            institution_id = k
            break
            #push!(oids,k)
        end
    end
    for k in keys(organizations)
        if organizations[k] == institution_id
            push!(oids, k)
        end
    end
return institution_id, oids
end

name_to_oid (generic function with 1 method)

The lengths of mappings.  The total number of institutions should exceed the total number in the institution mapping by the number of academic institutions who hired at a level other than assistant professor (postdocs,lecturer, etc).  The saved mapping the the database should then contain the same number as the institution_mapping.

In [34]:
println(length(institution_mapping))
print(length(institutions))

1451
2193

For mysql

In [35]:
#saving type allocation
function save_type(tier, oids, stm)
    for oid in oids
        DB.execute(stm, [tier, oid])
    end
end

save_type (generic function with 1 method)

In [41]:
o

Dict{Any, Any} with 4 entries:
  4 => 4
  2 => 2
  3 => 1
  1 => 3

In [37]:
#to record the type allocation
n = 0
B = Set{String}()

if SAVE_TO_DATABASE
    d = DB.connect(MySQL.Connection,cfg["host"], cfg["user"], cfg["password"], db =cfg["database"], port = parse(Int64,cfg["port"]))
    query = "drop table if exists type_distribution"
    DB.execute(d, query)
    query = "create table type_distribution (id int auto_increment primary key, type int, oid int,created timestamp default CURRENT_TIMESTAMP )"
    DB.execute(d, query)
    query = "insert into type_distribution set type=?,oid=?"
    stm = DB.prepare(d, query)
end
for j in 1:NUMBER_OF_TYPES
    println("Type ", j)
    println()
    i = 1
    for entry in est_alloc
        if entry == j
            push!(B,institutions[i])
            iid, oids = name_to_oid(institutions[i],institution_mapping, oid_mapping)
            println(institutions[i]," ",oids)
            if(length(oids)) == 0
                println("*****Error in data****")
                n += 1
            end
            if SAVE_TO_DATABASE
                save_type(j, oids, stm)
            end
        end
        i += 1
    end
    println(n," errors counted")
    println()
end
if SAVE_TO_DATABASE
    DB.close(d)
end

Type 1

University of Oslo ["3810", "675"]
Rice University ["2099", "110"]
University of Massachusetts, Amherst ["1635", "2250", "1642", "330"]
Eastern Kentucky University ["65"]
Peking University ["1830", "767", "3008", "1273", "2904"]
University of Lausanne (Université de Lausanne) ["376", "3355"]
Georgetown University ["6269", "1419", "99", "4600", "1184"]
Universidad de los Andes ["1033", "533"]
Vrije Universiteit Amsterdam ["898", "72", "250", "1369", "2252"]
Hong Kong Baptist University ["1080"]
Simon Fraser University ["332", "1310"]
Colorado State University ["4997", "1788", "3130"]
University of Leicester ["477"]
London Business School ["1754", "660", "3203", "3276"]
University of Amsterdam (Universiteit van Amsterdam) ["5211", "1343", "2389"]
Wuhan University ["1183", "4820"]
George Mason University ["2756", "1770", "1637"]
Drexel University ["2379", "634"]
University of Miami ["2546", "3527", "750"]
Concordia University ["160", "7009"]
University of Kentucky ["1535", "3924", "766"]
Auburn University ["1540", "2914", "2032"]
ETH Zurich (Swiss Federal Institute of Technology; Eidgenössische Technische Hochschule) ["1004", "1385"]
University of Edinburgh ["2509", "386"]
Norwegian School of Economics (NHH) ["954", "999", "1175"]
University of St Andrews ["774", "2215"]
Syracuse University ["22"]
University of Arizona ["3386", "4206", "3040", "218"]
Western University ["61", "903"]
University of California, San Diego ["44", "1951", "2081"]
Australian National University ["90", "426", "1035", "511"]
Ecole Polytechnique (IP Paris) ["219"]
University of Copenhagen (Københavns Universitet) ["902"]
Carleton University ["71", "580"]
Tufts University ["3554", "53", "26"]
Hebrew University of Jerusalem ["3786", "1042"]
University of Groningen (Rijksuniversiteit Groningen) ["249", "2520"]
New York University Shanghai ["812"]
California Institute of Technology (Caltech) ["2178", "2983"]
Maastricht University ["1806", "212", "5621", "70"]
Aalto University ["385", "2691", "3930"]
University of Nebraska, Lincoln ["1046", "1387"]
Katholieke Universiteit Leuven (KU Leuven) ["1326"]
University of North Carolina, Chapel Hill ["3228", "1625", "1694"]
The New School ["1527"]
Humboldt University Berlin (Humboldt-Universität zu Berlin) ["3351", "1686", "3211"]
University of Ottawa ["856", "4108"]
Universidad de Alicante (University of Alicante) ["135"]
Rutgers, The State University of New Jersey ["3544", "1674", "120"]
Georgia Institute of Technology ["1881", "289"]
Indiana University Bloomington ["2402", "1536", "1650", "2828"]
Copenhagen Business School ["916", "231"]
Miami University ["636"]
University of Vienna (Universität Wien) ["3557", "532", "540", "298"]
University of Sydney ["1817", "688", "3984"]
University of Iowa ["2702", "2188"]
University of Utah ["1847", "1680"]
Sciences Po ["398"]
University of Glasgow ["1172", "960"]
University of Hong Kong ["106", "9114"]
Singapore Management University ["2734", "1347"]
Clemson University ["2535", "95"]
University of South Carolina ["96"]
University of California, Riverside ["1117", "1112", "1575"]
University of Missouri, Columbia ["861", "7769", "175"]
Queen Mary University of London ["953"]
University of Cambridge ["943", "3961", "2651", "139", "1908", "5652"]
Iowa State University ["1676"]
McGill University ["488", "1695"]
Instituto Tecnologico Autónomo de Mexico (ITAM) ["1213", "30"]
Koç University ["1290", "4949", "2581"]
Aarhus University ["240"]
University of Calgary ["179"]
Stony Brook University (SUNY) ["45", "1098"]
École d'Économie de Paris (Paris School of Economics) ["208"]
Goethe-Universität Frankfurt am Main ["3096", "1367", "1370", "1211", "1072", "1875", "644"]
Monash University ["346", "1129", "109"]
University of International Business and Economics ["1502", "5107", "2908"]
Oregon State University ["2054"]
Queen's University ["510", "752", "1332"]
University of Queensland ["5147", "310"]
Fudan University ["4750", "4638", "3295"]
University of Exeter ["2198", "6265", "1431", "622"]
University of Florida ["3119", "2029", "521", "3263"]
Binghamton University (SUNY) ["560"]
Université du Québec à Montréal (UQAM) ["131", "8396"]
Hong Kong University of Science and Technology ["2131", "1176", "79", "3428", "3556"]
West Virginia University ["1822", "1870", "1100"]
University of Oklahoma ["2612", "4585", "679"]
Stockholm University ["928", "626", "80", "500"]
University of New South Wales (UNSW), Sydney ["97", "410", "107"]
Imperial College London ["1753"]
Central European University ["949", "1363"]
Collegio Carlo Alberto ["349"]
University of California, Irvine ["1501", "3829"]
Erasmus University Rotterdam ["2861", "2743", "267", "1295", "1217", "1595"]
University of Oregon ["3764", "2222", "2503"]
University of Alberta ["1717", "2421", "933"]
Vienna University of Economics and Business ["3012", "911"]
North Carolina State University ["1065", "2177"]
Georgia State University ["3478", "6649", "466", "2353"]
Southern Methodist University ["459", "390"]
Chinese University of Hong Kong ["2270", "1731", "1014", "2708"]
Universíté de Montréal (University of Montreal) ["6160", "1044", "907"]
Kansas State University ["712", "1600"]
University of Cologne (Universität zu Köln) ["676", "4317", "2046"]
BI Norwegian Business School ["1081", "3417", "3619", "5264"]
University of Guelph ["4652", "1583"]
University of Kansas ["3392", "869"]
Nanyang Technological University ["3959", "3806", "1055"]
University of Houston ["353", "1798"]
University of Alabama ["1965", "3676"]
Shanghai University of Finance and Economics ["1306", "2751", "1692"]
University of Bristol ["7042", "1331", "633"]
University of Sussex ["430", "2549", "831"]
University of Melbourne ["4014", "1305", "1882", "2792", "334"]
University of California, Santa Cruz ["1601"]
INSEAD ["786", "3460", "4847"]
Texas Tech University ["1675", "3029", "699", "1621"]
Seoul National University ["1003"]
Indian Institute of Technology, Kanpur ["3239", "278"]
Louisiana State University ["1678", "585"]
Tulane University ["702", "2724"]
University of Gothenburg (Göteborgs Universitet) ["5782", "1877", "1077"]
University of Illinois at Chicago ["2900", "116", "4840"]
University of Pittsburgh ["2791", "33", "3565"]
Northeastern University ["1931", "4407", "794"]
Ryerson University ["180", "4606"]
University of Arkansas ["3068", "748", "5518", "358"]
CEMFI ["112"]
University of Georgia ["416", "2593", "2819"]
Tsinghua University ["623", "7571", "2200"]
University of Tokyo ["1106", "3284"]
Utrecht University (Universiteit Utrecht) ["4685", "1159", "1866"]
Middle Tennessee State University ["620"]
University of Connecticut ["2707", "1784", "51", "5529", "1304"]
McMaster University ["474"]
European University Institute ["323", "925", "378", "3055", "591"]
Ludwig-Maximilians-Universitat München (LMU) (University of Munich) ["811", "6530", "191", "2024"]
Oklahoma State University ["1827", "632"]
Birkbeck College, University of London ["974", "308"]
University of Delaware ["226"]
Uppsala University (Uppsala Universitet) ["201"]
Florida State University ["82", "4616"]
Virginia Tech ["1742", "1059"]
Università di Bologna (University of Bologna) ["286"]
University of Hawaiʻi at Mānoa ["2713"]
Universidad de Navarra ["211", "360", "2027"]
Université Libre de Bruxelles ["2817", "1053"]
American University ["350", "1185", "3030"]
Emory University ["2057", "2035", "1725", "4828"]
Universitat Autònoma de Barcelona ["1864", "239", "47", "126"]
George Washington University ["476", "3135", "1371"]
University of Illinois at Urbana-Champaign ["2107", "1015", "1524", "797", "733"]
University of Zurich (Universität Zürich) ["299", "952", "2471"]
University of Texas at Dallas ["3379", "3259", "5474", "3489"]
Lund University (Lunds Universitet) ["921"]
Fundação Getulio Vargas (FGV) ["1872", "6566", "359"]
Temple University ["2006", "351"]
New Economic School ["367", "1171"]
HEC Paris ["638", "630"]
Universidad Carlos III de Madrid ["244", "1797", "4508", "108", "1177", "1404"]
University of California, Santa Barbara ["1361", "2663"]
University of Colorado, Boulder ["73", "2888"]
Rensselaer Polytechnic Institute ["1683", "621"]
0 errors counted

Type 2

University of Rochester ["253", "189", "3197"]
University of Bonn (Rheinische Friedrich-Wilhelms-Universität Bonn) ["891", "215", "1206", "5469", "1407", "1218"]
Boston University ["37", "1194"]
Boston College ["2070", "362", "3005"]
University of Warwick ["1356", "143"]
Toulouse School of Economics ["203"]
University of Virginia ["83", "6642", "1071", "1846", "258"]
National University of Singapore ["682", "507", "573", "957", "1219", "3933", "995", "4471"]
Cornell University ["1083", "508", "1174", "2346", "420", "1364", "2510", "2890", "603"]
University of British Columbia ["976", "631", "128", "1294", "67"]
University of Southern California ["354", "1201", "4819", "144"]
University of Washington ["8773", "1811", "105", "2966", "3343", "4799"]
Ohio State University ["499", "4874", "2787", "941", "2655"]
Washington State University ["539", "1979"]
University of Minnesota, Twin Cities ["599", "1090", "2235", "658", "3139"]
University of Oxford ["1050", "1398", "1233", "612", "693", "1832", "1504", "5931", "217"]
Michigan State University ["1151", "41", "3431"]
University of Texas at Austin ["2696", "55", "2433", "2826", "114"]
University of California, Davis ["1582", "103"]
University of Mannheim (Universität Mannheim) ["204", "5453"]
Vanderbilt University ["793", "403", "5295", "1338"]
University of Essex ["1231", "1613", "428", "2592"]
Tilburg University ["2720", "1358", "669", "1192", "2640"]
Bocconi University (Università Bocconi) ["1748", "220", "1262", "3074", "2419", "1936"]
Universitat Pompeu Fabra ["453", "998"]
Purdue University ["799", "8018", "2919", "177", "86", "5713"]
Washington University in St. Louis ["1894", "1914", "84", "760"]
Brown University ["3257", "28"]
Johns Hopkins University ["1043", "49", "1345", "2864", "2340", "2624", "1328", "537"]
University of Notre Dame ["2778", "4904", "119"]
Carnegie Mellon University ["522", "1744", "185", "1987"]
Texas A&M University, College Station ["1990", "596", "1823", "3003"]
Pennsylvania State University ["154", "775", "1993", "1883", "2667", "1335"]
University College London ["235", "2970", "3218", "1309", "3099"]
University of Toronto ["2899", "1898", "2944", "40", "3821", "2855", "3297", "2823", "828"]
University of Nottingham ["1191"]
Stockholm School of Economics ["2858", "7851", "1991", "765"]
Arizona State University ["1793", "2885", "5181", "432", "4562"]
0 errors counted

Type 3

Columbia University ["1164", "2025", "29", "914", "3201", "3017", "1812", "2092", "566", "3207"]
Massachusetts Institute of Technology ["2010", "2106", "3794", "361"]
University of Pennsylvania ["157", "3314", "2979", "908", "2232", "805", "1396", "1611", "3277", "1834", "2414", "502"]
University of Wisconsin, Madison ["2630", "3525", "1636", "3007", "85", "3971"]
New York University ["167", "2790", "2242", "2007", "2335", "881", "2045", "3064"]
Northwestern University ["678", "25"]
University of California, Berkeley ["984", "932", "4022", "2191", "343", "1099"]
London School of Economics and Political Science ["1212", "407", "2461", "1885", "6744", "2253", "1568", "6747", "6375", "1771", "1323", "1772", "1691"]
Harvard University ["3189", "846", "2841", "1543", "2952", "406", "1557", "3264", "1420", "1926", "2262", "5093"]
University of California Los Angeles (UCLA) ["36", "4958", "1831", "1341", "1352"]
Yale University ["551", "5673", "873", "4480", "336"]
Stanford University ["598", "2166", "2220", "5230", "92", "1892", "130", "3613", "2197", "4725", "2282"]
University of Michigan ["1569", "915", "186", "1351", "1315", "1390", "1357"]
Duke University ["24", "1221", "2002", "3209", "479"]
University of Maryland ["21", "1375", "20", "221"]
Princeton University ["886", "5843", "2105", "3726"]
University of Chicago ["5051", "2104", "570", "2369", "3403", "942", "394", "1858", "1275"]
0 errors counted

Type 4

Kwara State University ["8340"]
Indian Statistical Institute, Delhi ["1421"]
Sant'Anna School of Advanced Studies (Scuola Universitaria Superiore Pisa) ["1483"]
Luleå University of Technology (Luleå tekniska universitet) ["5207"]
Bentley University ["4257", "2519"]
University of Jammu ["6864"]
Eastern Mediterranean University ["2143"]
Insper (Institute of Education and Research) ["1052"]
University of Vaasa ["1984", "6657"]
Politecnico di Torino ["4729"]
Korea University ["1013", "3745", "3338"]
LUISS Guido Carli ["1685"]
University of Bern (Universität Bern) ["233"]
University of Reading ["4300", "567", "2685"]
Fordham University ["2069", "3195"]
Technische Universität Dresden ["3108"]
Université catholique de Louvain ["948", "1336", "816"]
Universiti Kebangsaan Malaysia ["2180"]
Université Paris 2 Panthéon-Assas ["4900", "4747"]
Stellenbosch University ["1227", "2441"]
Universidad de Valladolid ["1780", "1841"]
University of Adelaide ["784"]
University of Botswana ["6252"]
University of Porto (Universidade do Porto) ["2949"]
Central Michigan University ["2121", "1029"]
University of Texas at Arlington ["118", "4684"]
Université Paris 1 Panthéon-Sorbonne ["4408", "3361", "839"]
University of Waikato ["7984"]
ISM University of Management and Economics ["6684"]
Cochin University of Science and Technology ["8057"]
University of Limerick ["4659"]
Kurukshetra University ["6708"]
University of Kent ["6308", "970"]
Trinity College Dublin, University of Dublin ["4144", "1093"]
ESCP Business School (École supérieure de commerce de Paris) ["5752", "3790", "1482"]
University of East London ["3815"]
University of Liverpool ["2776", "5079"]
Martin Luther University of Halle-Wittenberg (Martin-Luther-Universität Halle-Wittenberg) ["1920"]
Universidad Complutense de Madrid ["312"]
Université Paris-Est Marne-la-Vallée ["2458"]
FUCAPE Business School (Fundação Instituto Capixaba de Pesquisas em Contabilidade, Economia e Finanças) ["5757"]
Durham University ["542"]
Shiv Nadar University ["1088"]
Universiteit Antwerpen (University of Antwerp) ["966"]
Freie Universität Berlin ["1836", "624"]
International Monetary Fund (IMF) ["1170"]
Université d'Evry Val-d'Essonne ["2580", "6062"]
University of Nevada, Las Vegas (UNLV) ["2918", "296"]
Université Laval ["1068", "1620"]
Wayne State University ["1706", "4599"]
Libera Università di Bolzano (Free University of Bozen-Bolzano) ["1144"]
EDHEC Business School (Ecole des Hautes Etudes Commerciales du Nord) ["1392"]
Università della Svizzera Italiana ["835", "1300"]
IE University ["1933", "1992"]
Aix-Marseille Université ["1746", "4477", "1944"]
Lehigh University ["2159"]
University of Innsbruck (Universität Innsbruck) ["2489", "1209"]
Université Claude Bernard Lyon 1 ["3626"]
Middle East Technical University ["274"]
University of Carthage (Université de Carthage) ["8189"]
Yildiz Technical University (Yıldız Teknik Üniversitesi) ["4263"]
University of Bath ["2548", "1401", "2114"]
Université de Bordeaux (University of Bordeaux) ["1769", "3463"]
Federal Reserve Bank of New York ["3400"]
University of Waterloo ["368"]
Penn State Abington ["4640"]
Bharathidasan University ["7104"]
Bilkent University (Bilkent Üniversitesi) ["543"]
Technische Universität Dortmund ["3344", "1778"]
Brandeis University ["23", "88"]
University of New Mexico ["277"]
City University of London ["883", "1094"]
Vienna Graduate School of Finance (VGSF) ["814"]
Rabindra Bharati University ["1574"]
Ghent University ["1415"]
Heriot Watt University ["1136", "3216"]
Deakin University ["4414", "2675"]
University of Minho (Universidade do Minho) ["2774"]
Massey University ["2533", "1471"]
Università degli Studi di Pavia (University of Pavia) ["1869"]
Sorbonne Université ["4636"]
Universidade Nova de Lisboa ["2203", "6164", "1308"]
University of Huddersfield ["3353"]
Université de Genève (University of Geneva) ["1354", "5315"]
Kyoto University ["4740", "2768"]
University of Cincinnati ["125"]
Univerzita Pardubice (University of Pardubice) ["6552"]
Delft University of Technology (Technische Universiteit Delft) ["5711", "4639"]
Universidad de Cantabria (University of Cantabria) ["1687"]
University of Fribourg (Université de Fribourg, Universität Freiburg) ["1381"]
Royal Melbourne Institute of Technology (RMIT) ["1469"]
Université Cheikh Anta Diop de Dakar ["6512"]
University of Hull ["867"]
University of Sheffield ["975", "1805"]
Suffolk University ["1973"]
Tallinn University of Technology ["4566"]
Royal Holloway, University of London ["136"]
Zhejiang Gongshang University ["8313", "1393"]
University of Tasmania ["6475", "1282", "1852"]
Indian Institute of Management Bangalore ["7631", "3530", "3642"]
Université de Tunis (University of Tunis) ["4389"]
Technische Universität Braunschweig (Technical University Braunswchweig) ["6342"]
Clark University ["2239"]
Indian Institute of Management Indore ["2595"]
IMT School for Advanced Studies Lucca ["48"]
Indira Gandhi Institute of Development Research (IGIDR) ["3147"]
University of Dschang ["6419"]
York University ["1178", "158", "2201"]
Barcelona Graduate School of Economics ["1781"]
SKEMA Business School ["446", "1921"]
Technical University of Crete ["5751"]
University of St. Gallen (Universität St. Gallen) ["1271", "1655", "4399"]
Ball State University ["747"]
Université de Strasbourg (University of Strasbourg) ["284"]
Northern Illinois University ["1514"]
University of New Orleans ["3820"]
Middle East Technical University - Northern Cyprus Campus ["1296"]
St. Thomas University ["3494"]
University of East Anglia ["256", "4658"]
University of Surrey ["6793", "768"]
University of Northern British Columbia ["1263"]
University College Cork ["4442"]
Universitat de Barcelona ["243", "868", "382", "2973"]
Vysoká škola ekonomická v Praze (University of Economics, Prague) ["4700", "7248"]
University of Manchester ["1592", "1480", "1975"]
Manchester Metropolitan University ["6263"]
Quaid-i-Azam University ["4250"]
Howard University ["232"]
Covenant University ["2249"]
University of Leeds ["2213"]
Cairo University ["3543"]
Otto-von-Guericke University Magdeburg ["874"]
University of Victoria ["888"]
University of North Carolina, Greensboro ["292"]
Université Paris 13 ["2147"]
ESMT Berlin ["1348"]
Florida International University ["266", "2493"]
Kiel University (Christian-Albrechts-Universität zu Kiel) ["2586"]
University of Cape Town ["272"]
Towson University ["2961"]
National Central University ["4586", "6161"]
CERGE-EI (Center for Economic Research and Graduate Education – Economics Institute) ["947"]
Dublin City University ["4612"]
University of Tirana (Universiteti i Tiranës) ["1856"]
University of Konstanz (Universität Konstanz) ["229"]
New York University Abu Dhabi ["897"]
National University of Ireland Galway ["3921"]
Dongbei University of Finance and Economics ["8211", "1041"]
Universitat de València (University of Valencia) ["422"]
Universiti Malaysia Perlis ["4401"]
University of Tennessee, Knoxville ["2744", "627", "181"]
Instituto Universitário de Lisboa, ISCTE-IUL ["850"]
Ca' Foscari University Venice (Università Ca’ Foscari) ["1411", "1091"]
Ecole Normale Supérieure Paris-Saclay ["2578"]
City University of New York Graduate Center ["2347", "4168"]
Multimedia University ["2181"]
Universidad del País Vasco / Euskal Herriko Unibertsitatea (University of the Basque Country) ["2175"]
Radboud University (Radboud Universiteit) ["1225"]
Università Degli Studi di Milano (University of Milan) ["1470", "973"]
Loughborough University ["2566"]
University at Albany (SUNY) ["740"]
University of Maine, Orono ["1727"]
Meiji University ["4473"]
Sciences Po Toulouse ["4315"]
University of Crete ["7297"]
University College Dublin ["4624", "463"]
Université Grenoble Alpes (Grenoble Alpes University) ["6509"]
Universidad de Zaragoza ["3552"]
Hanken School of Economics ["1337"]
Universidade da Coruña ["6339"]
University of South Alabama ["789"]
University of Otago ["1763", "1792", "2456"]

In [38]:
n = 0
B = Set{String}()
if SAVE_TO_DATABASE
    d = DB.connect(MySQL.Connection,cfg["host"], cfg["user"], cfg["password"], db =cfg["database"], port = parse(Int64,cfg["port"]))
    query = "insert into type_distribution set type=?,oid=?"
    stm = DB.prepare(d, query)
end
for j in NUMBER_OF_TYPES+1:NUMBER_OF_SINKS+NUMBER_OF_TYPES
    println("SINK ", j - NUMBER_OF_TYPES)
    println()
    i = 1
    for entry in est_alloc
        if entry == j 
            if occursin("(private sector)", institutions[i])
                ch = 17
            elseif (!occursin("(private sector)", institutions[i]) && !occursin("(public sector)", institutions[i]) 
                    && !occursin("(academic sink)", institutions[i]))
                ch = 0
            else ch = 16
            end
            if !(institutions[i][1:prevind(institutions[i], end,ch)] in B)
                iid, oids = name_to_oid(institutions[i][1:prevind(institutions[i],end,ch)],institution_mapping, oid_mapping)
                println(institutions[i]," ", oids)
                if length(oids) == 0
                    println("****** error in data*****")
                    n +=1
                end
                if SAVE_TO_DATABASE
                    save_type(j, oids, stm)
                end
                push!(B, institutions[i][1:prevind(institutions[i], end,ch)])
            end
        end
        i += 1
    end
    println()
    println(n," errors counted")
end
DB.close(d)

SINK 1

CNRS (Centre national de la recherche scientifique) (academic sink) ["270"]
De Nederlandsche Bank (academic sink) ["3357"]
Institute of Economics (Ekonomski institut), Zagreb (academic sink) ["3474"]
University of Bremen (Universität Bremen) (academic sink) ["7847"]
Texas A&M University, College Station (academic sink) ["1990", "596", "1823", "3003"]
Universitas Indonesia (academic sink) ["1544"]
University of Oxford (academic sink) ["1050", "1398", "1233", "612", "693", "1832", "1504", "5931", "217"]
Universitat Pompeu Fabra (academic sink) ["453", "998"]
City University of London (academic sink) ["883", "1094"]
Coventry University (academic sink) ["2996"]
Centre d'Etudes Prospectives et d'Informations Internationales (CEPII) (academic sink) ["1696"]
University of Sussex (academic sink) ["430", "2549", "831"]
Johns Hopkins University (academic sink) ["1043", "49", "1345", "2864", "2340", "2624", "1328", "537"]
State University of New York at Buffalo (academic sink) ["1756", "4737"]
Georgia State University (academic sink) ["3478", "6649", "466", "2353"]
Lund University (Lunds Universitet) (academic sink) ["921"]
University of California, San Diego (academic sink) ["44", "1951", "2081"]
Centre for Advanced Financial Research And Learning (academic sink) ["971"]
St. John's University (academic sink) ["6027"]
California Policy Lab (academic sink) ["3407"]
Università Carlo Cattaneo (University Carlo Cattaneo, LIUC) (academic sink) ["2093"]
University of California, Davis (academic sink) ["1582", "103"]
University College London (academic sink) ["235", "2970", "3218", "1309", "3099"]
University of Swansea (academic sink) ["2341"]
Università degli Studi di Siena (University of Siena) (academic sink) ["2464"]
Institute for Management and Planning Studies (IMPS) (academic sink) ["1876"]
Université Paris-Dauphine (academic sink) ["841", "1189"]
Dublin City University (academic sink) ["4612"]
Ruhr University Bochum (Ruhr-Universität Bochum) (academic sink) ["3089"]
Université de Paris (academic sink) ["6283"]
University of Copenhagen (Københavns Universitet) (academic sink) ["902"]
University of North Carolina, Greensboro (academic sink) ["292"]
Université de Saint-Boniface (academic sink) ["8190"]
WZB Berlin Social Science Center (Wissenschaftszentrum Berlin für Sozialforschung) (academic sink) ["2066"]
Ohio State University (academic sink) ["499", "4874", "2787", "941", "2655"]
University of Texas at Austin (academic sink) ["2696", "55", "2433", "2826", "114"]
University of Johannesburg (academic sink) ["2371"]
Università degli Studi di Napoli Federico II (University of Naples Federico II) (academic sink) ["1837"]
INSEAD (academic sink) ["786", "3460", "4847"]
King's College London (academic sink) ["1669"]
University of Pretoria (academic sink) ["1750"]
University of Brighton (academic sink) ["4922"]
York University (academic sink) ["1178", "158", "2201"]
Boise State University (academic sink) ["6735", "124"]
Duke University (academic sink) ["24", "1221", "2002", "3209", "479"]
University of Bonn (Rheinische Friedrich-Wilhelms-Universität Bonn) (academic sink) ["891", "215", "1206", "5469", "1407", "1218"]
Brigham Young University (academic sink) ["3922"]
University of Alberta (academic sink) ["1717", "2421", "933"]
McMaster University (academic sink) ["474"]
Bournemouth University (academic sink) ["1542"]
Max Planck Institute for Demographic Research (Max-Planck-Institut für demografische Forschung (academic sink) ["246"]
University of Zurich (Universität Zürich) (academic sink) ["299", "952", "2471"]
University of Surrey (academic sink) ["6793", "768"]
Hanoi National University of Education (Trường Đại học Sư phạm Hà Nội) (academic sink) ["7687"]
African Development Bank (academic sink) ["3905"]
National Bank of Belgium (academic sink) ["344"]
University of Queensland (academic sink) ["5147", "310"]
Heriot Watt University (academic sink) ["1136", "3216"]
University of Plymouth (academic sink) ["3962"]
University of California, Santa Barbara (academic sink) ["1361", "2663"]
University of Patras (academic sink) ["2275"]
Universidad del Pacífico (academic sink) ["3539"]
Concordia College (academic sink) ["1734"]
University of Mannheim (Universität Mannheim) (academic sink) ["204", "5453"]
University of Illinois at Chicago (academic sink) ["2900", "116", "4840"]
German Institute for Economic Research (DIW: Deutsches Institut für Wirtschaftsforschung) (academic sink) ["848", "450"]
Sciences Po (academic sink) ["398"]
Hong Kong University of Science and Technology (academic sink) ["2131", "1176", "79", "3428", "3556"]
IFIM Business School (academic sink) ["1573"]
Centre de Recerca en Economia Internacional (CREI) (academic sink) ["735"]
University of Sheffield (academic sink) ["975", "1805"]
Max Planck Institute for Human Development (Max-Planck-Institut für Bildungsforschung) (academic sink) ["512"]
University of Richmond (academic sink) ["1198"]
Ecole Normale Supérieure Paris-Saclay (academic sink) ["2578"]
Universiti Teknologi Mara (academic sink) ["8175"]
University of Adelaide (academic sink) ["784"]
Banca d'Italia (academic sink) ["1782"]
University of Bath (academic sink) ["2548", "1401", "2114"]
National University of Ireland Galway (academic sink) ["3921"]
Syracuse University (academic sink) ["22"]
University of Piraeus (academic sink) ["1690", "7658"]
Brunel University London (academic sink) ["2521"]
United States Naval Academy (academic sink) ["2287"]
University of Porto (Universidade do Porto) (academic sink) ["2949"]
University of Bristol (academic sink) ["7042", "1331", "633"]
University of Vermont (academic sink) ["782"]
University of Bradford (academic sink) ["2319", "3249"]
Kenyatta University (academic sink) ["6344"]
Texas Tech University (academic sink) ["1675", "3029", "699", "1621"]
IÉSEG School of Management (Institut d'Économie Scientifique et de Gestion) (academic sink) ["3721"]
Bocconi University (Università Bocconi) (academic sink) ["1748", "220", "1262", "3074", "2419", "1936"]
Samford University (academic sink) ["481"]
Forum Transregionale Studien (academic sink) ["7197"]
Instituto Tecnologico Autónomo de Mexico (ITAM) (academic sink) ["1213", "30"]
Royal Holloway, University of London (academic sink) ["136"]
University of New Mexico (academic sink) ["277"]
University of Zululand (academic sink) ["8310"]
University of California Los Angeles (UCLA) (academic sink) ["36", "4958", "1831", "1341", "1352"]
Behavior and Inequality Research Institute (briq) (academic sink) ["1204"]
Centro de Investigación y Docencia Económicas (CIDE) (academic sink) ["568"]
European Stability Mechanism (academic sink) ["889", "471"]
Yonsei University (academic sink) ["3248"]
International Trade Centre (academic sink) ["961"]
Center for International Climate Research (CICERO) (academic sink) ["7461"]
University of Nottingham in Ningbo (academic sink) ["3682", "4594"]
Hankuk University of Foreign Studies (academic sink) ["2460"]
European University Institute (academic sink) ["323", "925", "378", "3055", "591"]
Lancaster University (academic sink) ["255", "3777"]
London School of Economics and Political Science (academic sink) ["1212", "407", "2461", "1885", "6744", "2253", "1568", "6747", "6375", "1771", "1323", "1772", "1691"]
University of Technology Sydney (academic sink) ["1121", "1200", "1995"]
Sultan Qaboos University (academic sink) ["2366"]
Xi'an Jiaotong University (academic sink) ["4218", "8594"]
University of Wisconsin, Madison (academic sink) ["2630", "3525", "1636", "3007", "85", "3971"]
University of Sydney (academic sink) ["1817", "688", "3984"]
KTH Royal Institute of Technology (Kungliga Tekniska Högskolan) (academic sink) ["7441", "2993"]
Vienna Graduate School of Finance (VGSF) (academic sink) ["814"]
Macalester College (academic sink) ["5420"]
Université de Strasbourg (University of Strasbourg) (academic sink) ["284"]
Georgia Institute of Technology (academic sink) ["1881", "289"]
Cornell University (academic sink) ["1083", "508", "1174", "2346", "420", "1364", "2510", "2890", "603"]
Economic Research Institute for ASEAN and East Asia (academic sink) ["7942"]
Economic and Social Research Institute (ESRI) (academic sink) ["1195"]
University of St Andrews (academic sink) ["774", "2215"]
Auburn University (academic sink) ["1540", "2914", "2032"]
La Trobe University (academic sink) ["649"]
Michigan State University (academic sink) ["1151", "41", "3431"]
National University of Singapore (academic sink) ["682", "507", "573", "957", "1219", "3933", "995", "4471"]
Università di Bologna (University of Bologna) (academic sink) ["286"]
New York University (academic sink) ["167", "2790", "2242", "2007", "2335", "881", "2045", "3064"]
University of Arkansas (academic sink) ["3068", "748", "5518", "358"]
Arizona State University (academic sink) ["1793", "2885", "5181", "432", "4562"]
Kwame Nkrumah University of Science and Technology (academic sink) ["1468"]
Universidad de Valladolid (academic sink) ["1780", "1841"]
Chiang Mai University (academic sink) ["1874"]
Hamburg University (Universität Hamburg) (academic sink) ["1567", "2063", "2957"]
Utrecht University (Universiteit Utrecht) (academic sink) ["4685", "1159", "1866"]
George Washington University (academic sink) ["476", "3135", "1371"]
Sapienza Università di Roma (Sapienza University of Rome) (academic sink) ["2129", "2605"]
San Diego State University (academic sink) ["2552"]
Keio University (academic sink) ["2568"]
University of Texas at Dallas (academic sink) ["3379", "3259", "5474", "3489"]
Multimedia University (academic sink) ["2181"]
Nanyang Technological University (academic sink) ["3959", "3806", "1055"]
Fondazione Eni Enrico Mattei (academic sink) ["834"]
Universidad Autónoma de Nuevo León (academic sink) ["8553"]
Tallinn University of Technology (academic sink) ["4566"]
Università Degli Studi di Milano (University of Milan) (academic sink) ["1470", "973"]
Kiel Institute for the World Economy (academic sink) ["1365"]
James Madison University (academic sink) ["1313"]
Massachusetts Institute of Technology (academic sink) ["2010", "2106", "3794", "361"]
University of Fort Hare (academic sink) ["1661"]
Korea Development Institute (KDI) (academic sink) ["1051"]
Technische Universität Dortmund (academic sink) ["3344", "1778"]
National Defence University (academic sink) ["4327"]
New College of the Humanities (academic sink) ["8011"]
CEMFI (academic sink) ["112"]
University of Maryland (academic sink) ["21", "1375", "20", "221"]
University of Southern California (academic sink) ["354", "1201", "4819", "144"]
CERGE-EI (Center for Economic Research and Graduate Education – Economics Institute) (academic sink) ["947"]
Central Bank of Hungary (Magyar Nemzeti Bank) (academic sink) ["3368"]
University of Vienna (Universität Wien) (academic sink) ["3557", "532", "540", "298"]
Institut für Arbeitsmarkt- und Berufsforschung (Institute for Employment Research) (academic sink) ["5143"]
University of Exeter (academic sink) ["2198", "6265", "1431", "622"]
Fudan University (academic sink) ["4750", "4638", "3295"]
Stockholm University (academic sink) ["928", "626", "80", "500"]
University of Westminster (academic sink) ["5538", "2061"]
Brown University (academic sink) ["3257", "28"]
University of Michigan (academic sink) ["1569", "915", "186", "1351", "1315", "1390", "1357"]
Food and Agriculture Organization of the United Nations (FAO) (academic sink) ["4928", "2571"]
Tilburg University (academic sink) ["2720", "1358", "669", "1192", "2640"]
United Nations University (academic sink) ["6911", "2318"]
University of Newcastle (academic sink) ["1591"]
Hitotsubashi University (academic sink) ["795"]
Singapore Management University (academic sink) ["2734", "1347"]
University of Kentucky (academic sink) ["1535", "3924", "766"]
ZEW - Leibniz Centre for European Economic Research (academic sink) ["2255", "1925"]
University of Minnesota, Twin Cities (academic sink) ["599", "1090", "2235", "658", "3139"]
St. Cloud State University (academic sink) ["4090"]
Rice University (academic sink) ["2099", "110"]
Aston University (academic sink) ["2385"]
Universíté de Montréal (University of Montreal) (academic sink) ["6160", "1044", "907"]
IUBH University of Applied Sciences (IUBH Internationale Hochschule) (academic sink) ["7848"]
University of Macedonia (academic sink) ["1819"]
International Monetary Fund (IMF) (academic sink) ["1170"]
Deakin University (academic sink) ["4414", "2675"]
Institute for Advanced Study in Toulouse (academic sink) ["615"]
Asian Infrastructure Investment Bank (academic sink) ["6718"]
Vysoká škola ekonomická v Praze (University of Economics, Prague) (academic sink) ["4700", "7248"]
Nottingham Trent University (academic sink) ["5909"]
Universitá Cattolica (academic sink) ["1070"]
California State University, Fullerton (academic sink) ["4595"]
Aalto University (academic sink) ["385", "2691", "3930"]
Institute of Science and Technology (IST), Austria (academic sink) ["3558"]
National Research University Higher School of Economics, Moscow (academic sink) ["781"]
University of Jena (Friedrich-Schiller-Universität Jena) (academic sink) ["2719"]
University of British Columbia (academic sink) ["976", "631", "128", "1294", "67"]
Sant'Anna School of Advanced Studies (Scuola Universitaria Superiore Pisa) (academic sink) ["1483"]
TED University (TED Üniversitesi) (academic sink) ["6174"]
Peking University (academic sink) ["1830", "767", "3008", "1273", "2904"]
University of Fribourg (Université de Fribourg, Universität Freiburg) (academic sink) ["1381"]
Tsinghua University (academic sink) ["623", "7571", "2200"]
Brandeis University (academic sink) ["23", "88"]
University of Chicago (academic sink) ["5051", "2104", "570", "2369", "3403", "942", "394", "1858", "1275"]
University of Massachusetts, Amherst (academic sink) ["1635", "2250", "1642", "330"]
Georg-August University of Goettingen (Georg-August-Universität Göttingen) (academic sink) ["3063"]
University of North Texas (academic sink) ["3391"]
Rogers State University (academic sink) ["5601"]
Washington State University (academic sink) ["539", "1979"]
Renmin University (academic sink) ["4157", "2849", "5959", "661"]
Université de Montpellier (academic sink) ["4867"]
Luxembourg Institute of Socio-Economic Research (LISER) (academic sink) ["725"]
University of Toronto Mississauga (academic sink) ["1631"]
Cardiff University (academic sink) ["3704"]
Curtin University (academic sink) ["4085"]
University of the West Indies, Mona (academic sink) ["3603"]
Ashoka University (academic sink) ["1339", "8476"]
Taylor's University (academic sink) ["2977"]
Boston College (academic sink) ["2070", "362", "3005"]
Georgetown University (academic sink) ["6269", "1419", "99", "4600", "1184"]
Walmart (academic sink) ["5817"]
William & Mary (academic sink) ["8296", "1808", "3292"]
Potsdam Institute for Climate Impact Research (academic sink) ["863"]
Universidad de la República (academic sink) ["2164"]
Indian Institute of Foreign Trade (academic sink) ["4173"]
Vilnius University (Vilniaus universitetas) (academic sink) ["4732"]
Maastricht University (academic sink) ["1806", "212", "5621", "70"]
University of Manitoba (academic sink) ["2544"]
Wake Forest University (academic sink) ["764"]
Universidad Publica de Navarra (academic sink) ["347"]
East China University of Science and Technology (academic sink) ["575"]
University of Delhi (academic sink) ["1016"]
Grenoble Ecole de Management (academic sink) ["2247"]
Xeo Marketing and Strategic Consultancy (academic sink) ["3977"]
Humboldt University Berlin (Humboldt-Universität zu Berlin) (academic sink) ["3351", "1686", "3211"]
University Canada West (academic sink) ["3599"]
Jönköping University (academic sink) ["2809"]
University of Reading (academic sink) ["4300", "567", "2685"]
University of Graz / Karl Franzens University, Graz (Universität Graz) (academic sink) ["849"]
University of New South Wales (UNSW), Sydney (academic sink) ["97", "410", "107"]
Harvard University (academic sink) ["3189", "846", "2841", "1543", "2952", "406", "1557", "3264", "1420", "1926", "2262", "5093"]
University of Waterloo (academic sink) ["368"]
California State University, East Bay (academic sink) ["739"]
North-West University (academic sink) ["4872"]
Universidad de Piura (academic sink) ["3770"]
Universidad Tecnológica de Panamá (Technological University of Panama) (academic sink) ["4172"]
Katholieke Universiteit Leuven (KU Leuven) (academic sink) ["1326"]
University of Nebraska, Lincoln (academic sink) ["1046", "1387"]
Scuola Normale Superiore (academic sink) ["3349"]
Halle Institute for Economic Research (IWH) (academic sink) ["4967"]
VATT Institute for Economic Research (Valtion taloudellinen tutkimuskeskus) (academic sink) ["2052"]
University of Illinois at Urbana-Champaign (academic sink) ["2107", "1015", "1524", "797", "733"]
Korea Institute of Public Finance (KIPF) (academic sink) ["1907"]
Vanderbilt University (academic sink) ["793", "403", "5295", "1338"]
Université Paris 1 Panthéon-Sorbonne (academic sink) ["4408", "3361", "839"]
Carleton University (academic sink) ["71", "580"]
University of Connecticut (academic sink) ["2707", "1784", "51", "5529", "1304"]
James Cook University Singapore (academic sink) ["4042"]
Stony Brook University (SUNY) (academic sink) ["45", "1098"]
University of the West of Scotland (academic sink) ["2145"]
SOAS (School of Oriental and African Studies), University of London (academic sink) ["2786", "1998"]
State University of New York (SUNY), Plattsburgh (academic sink) ["657"]
Amherst College (academic sink) ["3503"]
Istanbul Gelişim University (İstanbul Gelişim Üniversitesi) (academic sink) ["4930"]
University of Oslo (academic sink) ["3810", "675"]
Athens University of Economics and Business (academic sink) ["4581", "6302", "4053"]
Università degli Studi di Trento (University of Trento) (academic sink) ["1245", "2065", "2773"]
University of Notre Dame (academic sink) ["2778", "4904", "119"]
University of Central Punjab (academic sink) ["7781"]
Lebanese University (academic sink) ["4899"]
Google Inc. (academic sink) ["654"]
Australian National University (academic sink) ["90", "426", "1035", "511"]
Virginia Tech (academic sink) ["1742", "1059"]
United Nations Economic and Social Commission for Western Asia (academic sink) ["3206"]
Université de Lorraine (academic sink) ["5527"]
Hebrew University of Jerusalem (academic sink) ["3786", "1042"]
Universidad Anáhuac México (academic sink) ["6140"]
Başkent University (academic sink) ["1545"]
University of Basel (Universität Basel) (academic sink) ["5239", "2450"]
University of Cambridge (academic sink) ["943", "3961", "2651", "139", "1908", "5652"]
Bank for International Settlements (academic sink) ["238"]
Centre for Economic and Regional Studies (Közgazdaság- és Regionális Tudományi Kutatóközpont) (academic sink) ["7964"]
Pennsylvania State University (academic sink) ["154", "775", "1993", "1883", "2667", "1335"]
Manchester University (academic sink) ["2703"]
Université de Franche-Comté (University of Franche-Comté) (academic sink) ["5891"]
Universitat Autònoma de Barcelona (academic sink) ["1864", "239", "47", "126"]
University of Nevada, Reno (academic sink) ["1803"]
Missouri State University (academic sink) ["7135"]
Université Paris-Est Créteil (academic sink) ["5276"]
University of Arizona (academic sink) ["3386", "4206", "3040", "218"]
Chulalongkorn University (academic sink) ["1873"]
Federal University of Pernambuco (Universidade Federal de Pernambuco) (academic sink) ["3643"]
Ben-Gurion University of the Negev (academic sink) ["4615"]
University of Rochester (academic sink) ["253", "189", "3197"]
Massey University (academic sink) ["2533", "1471"]
Johannes Gutenberg-University Mainz (academic sink) ["2009"]
University of California, Santa Cruz (academic sink) ["1601"]
Kuehne Logistics University (academic sink) ["590"]
Purdue University (academic sink) ["799", "8018", "2919", "177", "86", "5713"]

In [39]:
println("acd_sink ",length(acd_sink))
println("teaching ",length(tch_sink))
println("academic ",length(academic))
println(" gov ", length(gov_sink))
println("private ", length(pri_sink))
println("institutions ", length(institutions))

acd_sink 492
teaching 983
academic 468
 gov 114
private 136
institutions 2193

## References

Karrer, B., and M. E. J. Newman (2011): "Stochastic Blockmodels and community structure in networks," Physical Review, 83(1).

Peixoto, T. (2014): "Efficient Monte Carlo and greedy heuristic for the inference of stochastic block models," Physical Review, 89(1).